{% extends 'core/base.jinja' %}

{% block title %}
{% trans club=object.club %}{{ club }}'s Trombi{% endtrans %}
{% endblock %}

{% block content %}
    <h2>{% trans club=object.club %}{{ club }}'s Trombi{% endtrans %}</h2>
    <a href="{{ url('trombi:edit', trombi_id=object.id) }}">Edit</a>
    <p>Subscription deadline: {{ object.subscription_deadline|date(DATETIME_FORMAT) }}</p>
    <p>Comment deadline: {{ object.comments_deadline|date(DATETIME_FORMAT) }}</p>
    <a href="#">Export</a>
    <p>People:</p>
    <ul>
        {% for u in object.users.all() %}
        <li>{{ u.user.get_display_name() }} - <a href="{{ url('trombi:delete_user', trombi_id=object.id, user_id=u.id) }}">Delete</a></li>
        {% endfor %}
    </ul>
{% endblock %}
