{% extends 'core/base.jinja' %}

{% block title %}
{% trans club=object.club %}{{ club }}'s Trombi{% endtrans %}
{% endblock %}

{% block content %}
    <h2>{% trans club=object.club %}{{ club }}'s Trombi{% endtrans %}</h2>
    <a href="{{ url('trombi:edit', trombi_id=object.id) }}">{% trans %}Edit{% endtrans %}</a>
    <a href="{{ url('trombi:moderate_comments', trombi_id=object.id) }}">{% trans %}Moderate comments{% endtrans %}</a>
    <p>{% trans %}Subscription deadline: {% endtrans %}{{ object.subscription_deadline|date(DATETIME_FORMAT) }}</p>
    <p>{% trans %}Comment deadline: {% endtrans %}{{ object.comments_deadline|date(DATETIME_FORMAT) }}</p>
    <a href="#">Export</a>
    <hr>
    <div>
    {% for u in object.users.all() %}
        <div class="ib" style="border: solid 1px grey; text-align: center">
            {% set file = None %}
            {% if u.profile_pict %}
                {% set file = u.profile_pict.url %}
            {% else %}
                {% set file = static('core/img/na.gif') %}
            {% endif %}
            <div style="max-width: 100px; margin: auto;">
                <img src="{{ file }}" alt="" style="max-width: 100px">
            </div>
            <div>{{ u.user.get_display_name() }}</div>
            <div><a href="{{ url('trombi:delete_user', user_id=u.id) }}">{% trans %}Delete{% endtrans %}</a></div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
