{% extends "core/base.jinja" %}

{% from "core/macros.jinja" import tabs %}

{% block title %}
  {% trans %}New subscription{% endtrans %}
{% endblock %}

{# The following statics are bundled with our autocomplete select.
   However, if one tries to swap a form by another, then the urls in script-once
   and link-once disappear.
   So we give them here.
   If the aforementioned bug is resolved, you can remove this. #}
{% block additional_js %}
  <script type="module" defer src="{{ static("bundled/core/components/ajax-select-index.ts") }}"></script>
  <script
    type="module"
    defer
    src="{{ static("bundled/subscription/creation-form-existing-user-index.ts") }}"
  ></script>
{% endblock %}
{% block additional_css %}
  <link rel="stylesheet" href="{{ static("bundled/core/components/ajax-select-index.css") }}">
  <link rel="stylesheet" href="{{ static("core/components/ajax-select.scss") }}">
  <link rel="stylesheet" href="{{ static("subscription/css/subscription.scss") }}">
{% endblock %}

{% macro form_fragment(form_object, post_url) %}
  {# Include the form fragment inside a with block,
  in order to inject the right form in the right place #}
  {% with form=form_object, post_url=post_url %}
    {% include "subscription/fragments/creation_form.jinja" %}
  {% endwith %}
{% endmacro %}

{% block content %}
  <h3>{% trans %}New subscription{% endtrans %}</h3>
  <div id="subscription-form" hx-ext="response-targets">
    {% with title1=_("Existing member"), title2=_("New member") %}
      {{ tabs([
      (title1, form_fragment(existing_user_form, existing_user_post_url)),
      (title2, form_fragment(new_user_form, new_user_post_url)),
      ]) }}
    {% endwith %}
  </div>
{% endblock %}
