{% macro display_star(grade) -%}

    {% if grade >= 0 %}
        {% for i in range(5) %}
            {% if i <= grade %}
                <span class="fa fa-star pedagogy star-checked"></span>
            {% else %}
                <span class="fa fa-star pedagogy star-not-checked"></span>
            {% endif %}
        {% endfor %}
    {% else %}
        <span class="grade-text"> {% trans %} not rated {% endtrans %} </span>
    {% endif %}

{%- endmacro %}