<fieldset
  class="star"
  x-data="{ 'value': -1, 'hover': -1 }"
  @mouseover.outside="hover = -1"
>
  {# Do not vote button #}
  <label
    class="star"
    @mouseover="hover = -1"
  >
    <input
      type="radio"
      name="{{ widget.name }}"
      value="-1"
      @click="value = -1"
    >
    <i class="fa fa-times-circle"></i>
    {{ translations.do_not_vote }}
  </label>

  {# Star widget #}
  {% for i in number_of_stars %}
    <label
      class="star"
      @mouseover="hover = {{ forloop.counter0 }}"
    >
      <input
        type="radio"
        name="{{ widget.name }}"
        value="{{ forloop.counter0 }}"
        @click="value = {{ forloop.counter0 }}"
      >
      <i
        class="{{ widget.name }} fa fa-star"
        :class="{
                'checked': value >= {{ forloop.counter0 }},
                'unchecked': value < {{ forloop.counter0 }},
                'hovered': hover >= {{ forloop.counter0 }},
                'removed': hover >= 0 && value >= {{ forloop.counter0 }} && hover < {{ forloop.counter0 }},
                }"
      ></i>
    </label>
  {% endfor %}
</fieldset>