{% extends "core/base.jinja" %}
{% from "pedagogy/macros.jinja" import display_star %}


{% block additional_css %}
  <link rel="stylesheet" href="{{ static('pedagogy/css/pedagogy.scss') }}">
{% endblock %}

{% block title %}
  {% trans %}UE Details{% endtrans %}
{% endblock %}

{% block content %}
  <h1>{{ object.code }}</h1>
  <h2 class="margin-bottom">{{ object.title }}</h2>
  <div class="pedagogy" id="ue_detail">
    <div class="ue-infos">
      <div class="infos-column">
        <aside class="info-container">
          <div class="info-container-item">
            <div>{% trans %}Category{% endtrans %}</div>
            <div>{{ object.credit_type }}</div>
          </div>
          <div class="info-container-item">
            <div>{% trans %}Credits{% endtrans %}</div>
            <div>{{ object.credits }}</div>
          </div>
          <hr>
          <div class="info-container-item">
            <div>Cours magistraux</div>
            <div>{{ object.hours_CM }}h</div>
          </div>
          <div class="info-container-item">
            <div>Travaux dirigés</div>
            <div>{{ object.hours_TD }}h</div>
          </div>
          <div class="info-container-item">
            <div>Travaux pratiques</div>
            <div>{{ object.hours_TP }}h</div>
          </div>
          <div class="info-container-item">
            <div>Travail hors encadrement</div>
            <div>{{ object.hours_THE }}h</div>
          </div>
          <div class="info-container-item">
            <div>Cours magistraux</div>
            <div>{{ object.hours_TE }}h</div>
          </div>
          <hr>
          <div class="info-container-item">
            <div>{% trans %}Availability{% endtrans %}</div>
            <div>{{ object.get_semester_display() }}</div>
          </div>
          <hr>
          <div class="info-container-item">
            <div>{% trans %}Manager{% endtrans %}</div>
            <div>{{ object.manager }}</div>
          </div>
        </aside>
        <aside class="info-container" id="ue-grade">
          {% include "pedagogy/fragments/ue_detail/grade.jinja" %}
        </aside>
      </div>
      <section class="ue-main-infos">
        <h3>{% trans %}Objectives{% endtrans %}</h3>
        <p>{{ object.objectives|markdown }}</p>
        <h3>{% trans %}Program{% endtrans %}</h3>
        <p>{{ object.program|markdown }}</p>
        <h3>{% trans %}Earned skills{% endtrans %}</h3>
        <p>{{ object.skills|markdown }}</p>
        <h3>{% trans %}Key concepts{% endtrans %}</h3>
        <p>{{ object.key_concepts|markdown }}</p>
      </section>
    </div>


    <br>

    <div id="comment-form">
      {% include "pedagogy/fragments/ue_detail/form.jinja" %}
    </div>

    <div id="comments">
      {% include "pedagogy/fragments/ue_detail/comments.jinja" %}
    </div>
  </div>
{% endblock %}
