{% extends "core/base.jinja" %}
{% from "core/macros.jinja" import user_profile_link %}
{% from "pedagogy/macros.jinja" import display_star %}

{% block additional_css %}
  <link rel="stylesheet" href="{{ static('pedagogy/css/pedagogy.scss') }}">
{% endblock %}

{% block title %}
  {% trans %}UE Details{% endtrans %}
{% endblock %}

{% block content %}
  <div class="pedagogy" id="ue_detail">
    <h1>{{ object.code }}</h1>
    <h2 class="margin-bottom">{{ object.title }}</h2>
    <div class="ue-infos">

      <div class="infos-column">
        <aside class="info-container">
          <div class="info-container-item">
            <div>{% trans %}Category{% endtrans %}</div>
            <div>{{ object.credit_type }}</div>
          </div>
          <div class="info-container-item">
            <div>{% trans %}Credits{% endtrans %}</div>
            <div>{{ object.credits }}</div>
          </div>
          <hr>
          <div class="info-container-item">
            <div>Cours magistraux</div>
            <div>{{ object.hours_CM }}h</div>
          </div>
          <div class="info-container-item">
            <div>Travaux dirigés</div>
            <div>{{ object.hours_TD }}h</div>
          </div>
          <div class="info-container-item">
            <div>Travaux pratiques</div>
            <div>{{ object.hours_TP }}h</div>
          </div>
          <div class="info-container-item">
            <div>Travail hors encadrement</div>
            <div>{{ object.hours_THE }}h</div>
          </div>
          <div class="info-container-item">
            <div>Cours magistraux</div>
            <div>{{ object.hours_TE }}h</div>
          </div>
          <hr>
          <div class="info-container-item">
            <div>{% trans %}Availability{% endtrans %}</div>
            <div>{{ object.get_semester_display() }}</div>
          </div>
          <hr>
          <div class="info-container-item">
            <div>{% trans %}Manager{% endtrans %}</div>
            <div>{{ object.manager }}</div>
          </div>
        </aside>
        <aside class="info-container">
          <div class="info-container-item">
            <span>{% trans %}Global grade{% endtrans %}</span>
            <span>{{ display_star(object.grade_global_average) }}</span>
          </div>
          <div class="info-container-item">
            <span>{% trans %}Utility{% endtrans %}</span>
            <span>{{ display_star(object.grade_utility_average) }}</span>
          </div>
          <div class="info-container-item">
            <span>{% trans %}Interest{% endtrans %}</span>
            <span>{{ display_star(object.grade_interest_average) }}</span>
          </div>
          <div class="info-container-item">
            <span>{% trans %}Teaching{% endtrans %}</span>
            <span>{{ display_star(object.grade_teaching_average) }}</span>
          </div>
          <div class="info-container-item">
            <span>{% trans %}Workload{% endtrans %}</span>
            <span>{{ display_star(object.grade_work_load_average) }}</span>
          </div>
        </aside>
      </div>
      <main class="ue-main-infos">
        <h3>{% trans %}Objectives{% endtrans %}</h3>
        <p>{{ object.objectives|markdown }}</p>
        <h3>{% trans %}Program{% endtrans %}</h3>
        <p>{{ object.program|markdown }}</p>
        <h3>{% trans %}Earned skills{% endtrans %}</h3>
        <p>{{ object.skills|markdown }}</p>
        <h3>{% trans %}Key concepts{% endtrans %}</h3>
        <p>{{ object.key_concepts|markdown }}</p>
      </main>
    </div>

    <br>
    {% if object.has_user_already_commented(user) %}
      <div id="leave_comment_not_allowed">
        <p>
          {% trans trimmed %}
            You already posted a comment on this UE.
            If you want to comment again, please modify
            or delete your previous comment.
          {% endtrans %}
        </p>
      </div>
    {% elif user.has_perm("pedagogy.add_uecomment") %}
      <details class="accordion" id="leave_comment" {% if form.errors %}open{%endif%}>
        <summary>{% trans %}Leave comment{% endtrans %}</summary>
        <div class="accordion-content">
          <form action="{{ url('pedagogy:ue_detail', ue_id=object.id) }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="leave-comment-grid-container">
              <div class="form-stars">
                {{ form.non_field_errors() }}
                {{ form.author.errors }}
                {{ form.ue.errors }}

                {{ form.author }}
                {{ form.ue }}

                <div class="input-stars">
                  <label for="{{ form.grade_global.id_for_label }}">{{ form.grade_global.label }} :</label>
                  {{ form.grade_global.errors }}
                  {{ form.grade_global }}
                </div>

                <div class="input-stars">
                  <label for="{{ form.grade_utility.id_for_label }}">{{ form.grade_utility.label }} :</label>
                  {{ form.grade_utility.errors }}
                  {{ form.grade_utility }}
                </div>

                <div class="input-stars">
                  <label for="{{ form.grade_interest.id_for_label }}">{{ form.grade_interest.label }} :</label>
                  {{ form.grade_interest.errors }}
                  {{ form.grade_interest }}
                </div>

                <div class="input-stars">
                  <label for="{{ form.grade_teaching.id_for_label }}">{{ form.grade_teaching.label }} :</label>
                  {{ form.grade_teaching.errors }}
                  {{ form.grade_teaching }}
                </div>

                <div class="input-stars">
                  <label for="{{ form.grade_work_load.id_for_label }}">{{ form.grade_work_load.label }} :</label>
                  {{ form.grade_work_load.errors }}
                  {{ form.grade_work_load }}
                </div>
              </div>
              <div class="form-comment">
                <label for="{{ form.comment.id_for_label }}">{{ form.comment.label }} :</label>
                {{ form.comment.errors }}
                {{ form.comment }}
              </div>
            </div>
            <p><input type="submit" value="{% trans %}Comment{% endtrans %}" /></p>
          </form>
        </div>
      </details>
    {% endif %}
    <br>

    {% if comments %}
      <h2>{% trans %}Comments{% endtrans %}</h2>
      {% for comment in comments %}
        <div id="{{ comment.id }}" class="comment-container">

          <div class="grade-block">
            <div class="grade-type">
              <p>{% trans %}Global grade{% endtrans %}</p>
              <p>{% trans %}Utility{% endtrans %}</p>
              <p>{% trans %}Interest{% endtrans %}</p>
              <p>{% trans %}Teaching{% endtrans %}</p>
              <p>{% trans %}Work load{% endtrans %}</p>
            </div>
            <div class="grade-stars">
              <p>{{ display_star(comment.grade_global) }}</p>
              <p>{{ display_star(comment.grade_utility) }}</p>
              <p>{{ display_star(comment.grade_interest) }}</p>
              <p>{{ display_star(comment.grade_teaching) }}</p>
              <p>{{ display_star(comment.grade_work_load) }}</p>
            </div>
            <div class="grade-extension"></div>
          </div>

          <div class="comment">
            <div class="anchor">
              <a href="{{ url('pedagogy:ue_detail', ue_id=ue.id) }}#{{ comment.id }}"><i class="fa fa-paragraph"></i></a>
            </div>
            {{ comment.comment|markdown }}
          </div>

          <div class="info">
            {% if comment.is_reported %}
              <p class="status-reported">
                {% trans %}This comment has been reported{% endtrans %}
              </p>
            {% endif %}

            {% if comment.author_id == user.id or user.has_perm("pedagogy.change_comment") %}
              <p class="actions">
                <a href="{{ url('pedagogy:comment_update', comment_id=comment.id) }}">
                  {% trans %}Edit{% endtrans %}
                </a>
            {% endif %}
            {% if comment.author_id == user.id or user.has_perm("pedagogy.delete_comment") %}
              <a href="{{ url('pedagogy:comment_delete', comment_id=comment.id) }}">
                {% trans %}Delete{% endtrans %}
              </a>
              </p>
            {% endif %}
          </div>

          <div class="comment-end-bar">
            <div class="report">
              <p>
                <a href="{{ url('pedagogy:comment_report', comment_id=comment.id) }}">
                  {% trans %}Report this comment{% endtrans %}
                </a>
              </p>
            </div>

            <div class="date"><p>{{ comment.publish_date.strftime('%d/%m/%Y') }}</p></div>

            <div class="author"><p>{{ user_profile_link(comment.author) }}</p></div>
          </div>

        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
