{% extends "core/base.jinja" %}

{% block title %}
{% trans %}UV Details{% endtrans %}
{% endblock %}

{% block content %}
	<p><a href="{{ url('pedagogy:guide') }}">{% trans %}Back{% endtrans %}</a></p>
	<h1>{{ object.code }} - {{ object.title }}</h1>
	<p>{{ object.objectives|markdown }}</p>
	<p>{{ object.program|markdown }}</p>
	<p>{{ object.skills|markdown }}</p>
	<p>{{ object.key_concepts|markdown }}</p>

	{% if object.comments.exists() %}
		<h2>{% trans %}Comments{% endtrans %}</h2>
		{% for comment in object.comments.all() %}
			<p>{{ comment.grade_global }}</p>
			<p>{{ comment.grade_utility }}</p>
			<p>{{ comment.grade_interest }}</p>
			<p>{{ comment.grade_teaching }}</p>
			<p>{{ comment.grade_work_load }}</p>
			<p>{{ comment.comment }}</p>
			<p>{% trans %}Published: {% endtrans %}{{ comment.publish_date }}</p>
			<p>{% trans %}Author: {% endtrans %}{{ comment.author }}</p>
			{% if user.is_owner(comment) %}
				<p><a href="{{ url('pedagogy:comment_update', comment_id=comment.id) }}">{% trans %}Edit{% endtrans %}</a></p>
				<p><a href="{{ url('pedagogy:comment_delete', comment_id=comment.id) }}">{% trans %}Delete{% endtrans %}</a></p>
			{% endif %}
		{% endfor %}
	{% endif %}

	<h2>{% trans %}Leave comment{% endtrans %}</h2>
	<form action="{{ url('pedagogy:uv_detail', uv_id=object.id) }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
		{{ form.as_p() }}
        <p><input type="submit" value="{% trans %}Comment{% endtrans %}" /></p>
	</form>
{% endblock %}