<hx-partial id="ue-grade">
  {% include "pedagogy/fragments/ue_detail/grade.jinja" %}
</hx-partial>

<hx-partial id="comment-form">
  {% include "pedagogy/fragments/ue_detail/form.jinja" %}
</hx-partial>

<hx-partial id="comments" hx-swap="innerMorph">
  {% include "pedagogy/fragments/ue_detail/comments.jinja" %}
</hx-partial>