{# A few hx-partials for swapping a few parts of the main ue_detail.jinja #}

<hx-partial id="ue-grade">
  {% include "pedagogy/fragments/ue_detail/grade.jinja" %}
</hx-partial>

<hx-partial id="comment-form">
  {% if object.has_user_already_commented(user) %}
    <div class="leave-comment-not-allowed">
      <p>{% trans %}You already posted a comment on this UE. If you want to comment again, please modify or delete your previous comment.{% endtrans %}</p>
    </div>
    <br>
  {% elif user.has_perm("pedagogy.add_uecomment") %}
    {{ add_comment_form }}
  {% endif %}
</hx-partial>

<hx-partial id="comments" hx-swap="innerMorph">
  {% include "pedagogy/fragments/ue_detail/comments.jinja" %}
</hx-partial>