{% if messages %}
  <div x-data="{show_alert: true}" class="alert alert-green" x-show="show_alert" x-transition>
    <span class="alert-main">
      {% for message in messages %}
        {% if message.level_tag == "success" %}
          {{ message }}
        {% endif %}
      {% endfor %}
    </span>
    <span class="clickable" @click="show_alert = false">
      <i class="fa fa-close"></i>
    </span>
  </div>
{% endif %}

<form
  hx-post="{{ url('club:club_new_members', club_id=club.id) }}"
  hx-disabled-elt="find input[type='submit']"
  hx-swap="outerHTML"
  id="add_club_members_form"
>
  {% csrf_token %}
  {{ form.non_field_errors() }}
  <fieldset>
    <div>
      {{ form.user.label_tag()}}
      <span class="helptext">{{ form.user.help_text }}</span>
      {{ form.user }}
      {{ form.user.errors }}
    </div>
    <div>
      {{ form.role.label_tag()}}
      {{ form.role }}
      {{ form.role.errors }}
    </div>
    <div>
      {{ form.description.label_tag()}}
      {{ form.description }}
      {{ form.description.errors }}
    </div>
  </fieldset>
  <button type="submit" class="btn btn-blue">
    <i class="fa fa-user-plus"></i> {% trans %}Add{% endtrans %}</button>
</form>
