[run]
source = .
branch = False
omit =
    *test*
    */migrations/*
    doc/*
    env/*
    sith/toolbar_debug.py
    sith/wsgi.py
    migrate.py
[report]
show_missing = False
include = *.py
[html]
title = Sith Code Coverage
directory = coverage_report
