*.sqlite3
*.log
*.pyc
*.mo
*__pycache__*
.DS_Store
pyrightconfig.json
dist/
.vscode/
.idea/
.venv/
doc/html
data/
galaxy/test_galaxy_state.json
/static/
sith/settings_custom.py
sith/search_indexes/
.coverage
coverage_report/
node_modules/
.env
*.pid

# compiled documentation
site/

### Redis ###

# Ignore redis binary dump (dump.rdb) files

*.rdb
