# Django 1.8 LTS is required, version 1.9 is not supported
Django >=1.11, <2.0
Pillow
mistune
django-jinja
pyopenssl
pytz
djangorestframework
django-phonenumber-field
django-ajax-selects
reportlab
django-haystack
whoosh
django-debug-toolbar
libsass
django-ordered-model
django-simple-captcha
pygraphviz
# mysqlclient
