# Django 1.11 LTS is required
Django >=1.11, <2.0
Pillow
mistune
django-jinja
pyopenssl
pytz
djangorestframework <3.10
django-phonenumber-field
phonenumbers
django-ajax-selects
reportlab
django-haystack
xapian-haystack
django-debug-toolbar
libsass
django-ordered-model
django-simple-captcha
python-dateutil
pygraphviz
sentry_sdk
# mysqlclient

# For documentation
Sphinx > 2.0
sphinx_rtd_theme
