<form
  hx-post="{{ url("subscription:fragment-new-user") }}"
  hx-target="this"
  hx-disabled-elt="find input[type='submit']"
  hx-swap="outerHTML"
>
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="{% trans %}Save{% endtrans %}">
</form>
