<form
  hx-post="{{ url("subscription:fragment-existing-user") }}"
  hx-target="this"
  hx-disabled-elt="find input[type='submit']"
  hx-swap="outerHTML"
>
  {% csrf_token %}

  {% set alpine_input_attrs = {
  'id_member': 'x-ref=userSelect,x-model=selectedUser',
  'id_birthdate': ':value=dateOfBirth,:hidden=dateOfBirthHidden',
  } %}

  {% set alpine_field_attrs = {
  'id_birthdate': (':hidden=dateOfBirthHidden', 'x-cloack')
  } %}

  <div x-data="existing_user_subscription_form()" class="form-content existing-user">
    <fieldset>
      {% if form.errors %}
        {{ form.errors.__all__ }}
      {% endif %}
      {% for field in form %}
        <div
          class="form-group"
          {% for attr in alpine_field_attrs.get(field.auto_id, []) %}
            {{ attr }}
          {% endfor %}>
          {{ field.label_tag() }}
          {{ field|add_attr(alpine_input_attrs.get(field.auto_id, "")) }}
          {% if field.help_text %}
            <span class="helptext">{{ field.help_text }}</span>
          {% endif %}
          {% if field.name == "payment_method" %}
            <i>
              {% trans trimmed %}
                If the subscription is done using the AE account,
                you must also click it on the AE counter.
              {% endtrans %}
            </i>
          {% endif %}
        </div>
      {% endfor %}
    </fieldset>
    <div
      id="subscription-form-user-mini-profile"
      x-html="profileFragment"
      :aria-busy="loading"
    ></div>
  </div>

  <input type="submit" value="{% trans %}Save{% endtrans %}">
</form>
