#timetable {
  display: block;
  margin: 2em auto ;
  .header {
    background-color: white;
    box-shadow: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
    span {
      flex: 1;
      text-align: center;
    }
  }
  .content {
    position: relative;
    text-align: center;

    .slot {
      background-color: cadetblue;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .course-type {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
      }
    }
  }
}
