{% extends "core/base.jinja" %}

{%- block additional_css -%}
  <link rel="stylesheet" href="{{ scss('sas/album.scss') }}">
  <link rel="stylesheet" href="{{ scss('core/pagination.scss') }}">
{%- endblock -%}

{% block title %}
  {% trans %}SAS{% endtrans %}
{% endblock %}

{% from "sas/macros.jinja" import display_album, print_path %}


{% block content %}
  <code>
    <a href="{{ url('sas:main') }}">SAS</a> / {{ print_path(album.parent) }} {{ album.get_display_name() }}
  </code>

  {% set is_sas_admin = user.can_edit(album) %}
  {% set start = timezone.now() %}

  {% if is_sas_admin %}
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="album-navbar">
        <h3>{{ album.get_display_name() }}</h3>

        <div class="toolbar">
          <a href="{{ url('sas:album_edit', album_id=album.id) }}">{% trans %}Edit{% endtrans %}</a>
          <input name="delete" type="submit" value="{% trans %}Delete{% endtrans %}">
          <input name="cut" type="submit" value="{% trans %}Cut{% endtrans %}">
          <input {% if not clipboard %}disabled{% endif %} name="paste" type="submit" value="{% trans %}Paste{% endtrans %}">
        </div>
      </div>

      {% if clipboard %}
        <div class="clipboard">
          {% trans %}Clipboard: {% endtrans %}
          <ul>
            {% for f in clipboard %}
              <li>{{ f.get_full_path() }}</li>
            {% endfor %}
          </ul>
          <input name="clear" type="submit" value="{% trans %}Clear clipboard{% endtrans %}">
        </div>
      {% endif %}
  {% endif %}

  {% if children_albums|length > 0 %}
    <h4>{% trans %}Albums{% endtrans %}</h4>
    <div class="albums">
      {% for a in children_albums %}
        {{ display_album(a, is_sas_admin) }}
      {% endfor %}
    </div>

    <br>
  {% endif %}

  <div x-data="pictures">
    <h4>{% trans %}Pictures{% endtrans %}</h4>
    <div class="photos" :aria-busy="loading">
      <template x-for="picture in pictures.results">
        <a :href="`/sas/picture/${picture.id}#pict`">
          <div class="photo" :style="`background-image: url(${picture.thumb_url})`">
            <template x-if="!picture.is_moderated">
              <div class="overlay">&nbsp;</div>
              <div class="text">{% trans %}To be moderated{% endtrans %}</div>
            </template>
            <template x-if="picture.is_moderated">
              <div class="text">&nbsp;</div>
            </template>
          </div>
          {% if is_sas_admin %}
            <input type="checkbox" name="file_list" :value="picture.id">
          {% endif %}
        </a>
      </template>
    </div>
    <nav class="pagination" x-show="nb_pages() > 1">
      {# Adding the prevent here is important, because otherwise,
      clicking on the pagination buttons could submit the picture management form
      and reload the page #}
      <button
        @click.prevent="page--"
        :disabled="page <= 1"
        @keyup.right.window="page = Math.min(nb_pages(), page + 1)"
      >
        <i class="fa fa-caret-left"></i>
      </button>
      <template x-for="i in nb_pages()">
        <button x-text="i" @click.prevent="page = i" :class="{active: page === i}"></button>
      </template>
      <button
        @click.prevent="page++"
        :disabled="page >= nb_pages()"
        @keyup.left.window="page = Math.max(1, page - 1)"
      >
        <i class="fa fa-caret-right"></i>
      </button>
    </nav>
  </div>

  {% if is_sas_admin %}
    </form>
    <form class="add-files" id="upload_form" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="inputs">
        {{ form.as_p() }}

        <input type="submit" value="{% trans %}Upload{% endtrans %}" />
      </div>
    </form>
  {% endif %}

  <hr>

  <p style="font-size: small; color: #444;">{% trans %}Template generation time: {% endtrans %}
    {{ timezone.now() - start }}
  </p>
{% endblock %}

{% block script %}
  {{ super() }}
  <script>
    document.addEventListener("alpine:init", () => {
      Alpine.data("pictures", () => ({
        pictures: {},
        page: parseInt(initialUrlParams.get("page")) || 1,
        loading: false,

        async init() {
          await this.fetch_pictures();
          this.$watch("page", () => {
            update_query_string("page", this.page === 1 ? null : this.page);
            this.fetch_pictures()
          });
        },

        async fetch_pictures() {
          this.loading=true;
          const url = "{{ url("api:pictures") }}"
          +"?album_id={{ album.id }}"
          +`&page=${this.page}`
          +"&page_size={{ settings.SITH_SAS_IMAGES_PER_PAGE }}";
          this.pictures = await (await fetch(url)).json();
          this.loading=false;
        },

        nb_pages() {
          return Math.ceil(this.pictures.count / {{ settings.SITH_SAS_IMAGES_PER_PAGE }});
        }
      }))
    })

    $("form#upload_form").submit(function (event) {
      let formData = new FormData($(this)[0]);

      if(!formData.get('album_name') && !formData.get('images').name)
        return false;

      if(!formData.get('images').name) {
        return true;
      }

      event.preventDefault();

      let errorList;
      if((errorList = this.querySelector('#upload_form ul.errorlist.nonfield')) === null) {
        errorList = document.createElement('ul');
        errorList.classList.add('errorlist', 'nonfield');
        this.insertBefore(errorList, this.firstElementChild);
      }

      while(errorList.childElementCount > 0)
        errorList.removeChild(errorList.firstElementChild);

      let progress;
      if((progress = this.querySelector('progress')) === null) {
        progress = document.createElement('progress');
        progress.value = 0;
        let p = document.createElement('p');
        p.appendChild(progress);
        this.insertBefore(p, this.lastElementChild);
      }

      let dataHolder;

      if(formData.get('album_name')) {
        dataHolder = new FormData();
        dataHolder.set('csrfmiddlewaretoken', '{{ csrf_token }}');
        dataHolder.set('album_name', formData.get('album_name'));
        $.ajax({
          method: 'POST',
          url: "{{ url('sas:album_upload', album_id=object.id) }}",
          data: dataHolder,
          processData: false,
          contentType: false,
          success: onSuccess
        });
      }

      let images = formData.getAll('images');
      let imagesCount = images.length;
      let completeCount = 0;

      let poolSize = 1;
      let imagePool = [];

      while(images.length > 0 && imagePool.length < poolSize) {
        let image = images.shift();
        imagePool.push(image);
        sendImage(image);
      }

      function sendImage(image) {
        dataHolder = new FormData();
        dataHolder.set('csrfmiddlewaretoken', '{{ csrf_token }}');
        dataHolder.set('images', image);

        $.ajax({
          method: 'POST',
          url: "{{ url('sas:album_upload', album_id=object.id) }}",
          data: dataHolder,
          processData: false,
          contentType: false,
        })
          .fail(onSuccess.bind(undefined, image))
          .done(onSuccess.bind(undefined, image))
          .always(next.bind(undefined, image));
      }

      function next(image, _, __) {
        let index = imagePool.indexOf(image);
        let nextImage = images.shift();

        if(index !== -1)
          imagePool.splice(index, 1);

        if(nextImage) {
          imagePool.push(nextImage);
          sendImage(nextImage);
        }
      }

      function onSuccess(image, data, _, __) {
        let errors = [];

        if ($(data.responseText).find('.errorlist.nonfield')[0])
          errors = Array.from($(data.responseText).find('.errorlist.nonfield')[0].children);

        while(errors.length > 0)
          errorList.appendChild(errors.shift());

        progress.value = ++completeCount / imagesCount;
        if(progress.value === 1 && errorList.children.length === 0)
          document.location.reload()
      }
    });
  </script>
{% endblock %}
