{% extends "core/base.jinja" %}

{% from 'forum/macros.jinja' import display_message, display_search_bar %}

{% block content %}
    <div id="forum">
    {{ display_search_bar() }}
    {% if object_list|length != 0 %}
        <br>
        <div class="search-results">
            {% for m in object_list %}
                {{ display_message(m, user) }}
            {% endfor %}
        </div>
    {% else %}
        {% trans %}No result found{% endtrans %}
    {% endif %}
    </div>

{% endblock %}