{% trans %}Hello{% endtrans %},

{% trans trimmed date=last_subscription_date|date(DATETIME_FORMAT) -%}
  You received this email because your last subscription to the
  Students' association ended on {{ date }}.
{%- endtrans %}

{% trans trimmed date=dump_date|date(DATETIME_FORMAT), amount=balance -%}
  In accordance with the Internal Regulations, the balance of any
  inactive AE account for more than 2 years automatically goes back
  to the AE.
  The money present on your account will therefore be recovered in full
  on {{ date }}, for a total of {{ amount }} €.
{%- endtrans %}

{% trans trimmed -%}
  However, if your subscription is renewed by this date,
  your right to keep the money in your AE account will be renewed.
{%- endtrans %}

{% if balance >= 10 -%}
  {% trans trimmed -%}
    You can also request a refund by sending an email to ae@utbm.fr
    before the aforementioned date.
  {%- endtrans %}
{%- endif %}

{% trans %}Sincerely{% endtrans %},

L'association des étudiants de l'UTBM
6, Boulevard Anatole France
90000 Belfort
