{% extends "core/base.jinja" %}

{% block title %}
{% trans obj=object %}Edit {{ obj }}{% endtrans %}
{% endblock %}

{% block content %}
<h2>{% trans obj=object %}Edit {{ obj }}{% endtrans %}</h2>
<form action="" method="post">
    {% csrf_token %}
    <p>{{ form.sellers.errors }}<label for="{{ form.sellers.name }}">{{ form.sellers.label }}</label> {{ form.sellers }}</p>
    <p><input type="submit" value="{% trans %}Save{% endtrans %}" /></p>
    <p>{{ form.products.errors }}<label for="{{ form.products.name }}">{{ form.products.label }}</label> {{ form.products }}</p>
    <p><input type="submit" value="{% trans %}Save{% endtrans %}" /></p>
</form>
{% endblock %}



