{% extends "core/base.jinja" %}

{% block content %}
<div class="tool-bar">
    <div>{% trans %}Counter administration{% endtrans %}</div>
    <div class="tools">
        <a href="{{ url('counter:admin_list') }}"
            {%- if tab == "counters" -%}
                class="selected_tab"
            {%- endif -%}
        >{% trans %}Counters{% endtrans %}</a>
        <a href="{{ url('counter:product_list') }}"
            {%- if tab == "products" -%}
                class="selected_tab"
            {%- endif -%}
        >{% trans %}Products{% endtrans %}</a>
        <a href="{{ url('counter:product_list_archived') }}"
            {%- if tab == "archive" -%}
                class="selected_tab"
            {%- endif -%}
        >{% trans %}Archived products{% endtrans %}</a>
        <a href="{{ url('counter:producttype_list') }}"
            {%- if tab == "product_types" -%}
                class="selected_tab"
            {%- endif -%}
        >{% trans %}Product types{% endtrans %}</a>

    </div>
    <hr>
</div>

<div>
    {% block admin_content %}
    {% endblock %}
</div>

{% endblock %}



