{% extends "core/base.jinja" %}

{% macro barman_logout_link(user) %}
<form method="post" action="{{ url('counter:logout', counter_id=counter.id) }}" class="inline">
    {% csrf_token %}
    <input type="hidden" name="user_id" value="{{ user.id }}">
    <button type="submit" name="submit_param" value="submit_value" class="link-button">{{ user.get_display_name() }}</button>
</form>
{% endmacro %}

{% block content %}
    <h3>Counter</h3>
    <h4>{{ counter }}</h4>
    <p><strong>Club: </strong> {{ counter.club }}</p>
    <p><strong>Products: </strong> {{ counter.products.all() }}</p>

{% endblock %}



