{% extends "core/base.jinja" %}
{% from "core/macros.jinja" import paginate_alpine %}

{% block title %}
  {% trans %}Product list{% endtrans %}
{% endblock %}

{% block additional_js %}
  <script type="module" src="{{ static("bundled/counter/product-list-index.ts") }}"></script>
{% endblock %}

{% block content %}
  <main x-data="productList">
    <form id="search-form">
      <h4>{% trans %}Filter products{% endtrans %}</h4>
      <fieldset>
        <label for="search-input">{% trans %}Product name{% endtrans %}</label>
        <input
          id="search-input"
          type="text"
          name="search"
          x-model.debounce.500ms="search"
        />
      </fieldset>
      <fieldset>
        <div class="row">
          <input type="radio" id="filter-active-products" x-model="isArchived" value="false">
          <label for="filter-active-products">{% trans %}Active products{% endtrans %}</label>
        </div>
        <div class="row">
          <input type="radio" id="filter-inactive-products" x-model="isArchived" value="true">
          <label for="filter-inactive-products">{% trans %}Archived products{% endtrans %}</label>
        </div>
        <div class="row">
          <input type="radio" id="filter-all-products" x-model="isArchived" value="">
          <label for="filter-all-products">{% trans %}All products{% endtrans %}</label>
        </div>
      </fieldset>
    </form>
    <h3 @click="console.log(totalCount, nbPages())">{% trans %}Product list{% endtrans %}</h3>

    <div class="row">
      <a href="{{ url('counter:new_product') }}" class="btn btn-blue">
        {% trans %}New product{% endtrans %} <i class="fa fa-plus"></i>
      </a>
      <button
        class="btn btn-blue"
        @click="downloadCsv()"
        :disabled="csvLoading"
        :aria-busy="csvLoading"
      >
        {% trans %}Download as cvs{% endtrans %} <i class="fa fa-file-arrow-down"></i>
      </button>
    </div>
    <template x-if="loading">
      <section :aria-busy="loading"></section>
    </template>

    <template x-for="[category, cat_products] of Object.entries(products)" :key="category">
      <section>
        <h4 x-text="category"></h4>
        <ul>
          <template x-for="p in cat_products" :key="p.id">
            <li><a :href="p.url" x-text="`${p.name} (${p.code})`"></a></li>
          </template>
        </ul>
      </section>
    </template>
      {{ paginate_alpine("page", "nbPages") }}
  </main>
{% endblock %}
