{% extends "core/base.jinja" %}

{% block title %}
  {% trans %}Product list{% endtrans %}
{% endblock %}

{% block content %}
  {% if current_tab == "products" %}
    <p><a href="{{ url('counter:new_product') }}">{% trans %}New product{% endtrans %}</a></p>
  {% endif %}
  <h3>{% trans %}Product list{% endtrans %}</h3>
  {%- for product_type, products in object_list -%}
    <h4>{{ product_type or _("Uncategorized") }}</h4>
    <ul>
      {%- for product in products -%}
        <li><a href="{{ url('counter:product_edit', product_id=product.id) }}">{{ product }} ({{ product.code }})</a></li>
      {%- endfor -%}
    </ul>
  {%- else -%}
    {% trans %}There is no products in this website.{% endtrans %}
  {%- endfor -%}
{% endblock %}




