{% extends "core/base.jinja" %}
{% from 'core/macros.jinja' import paginate %}

{% block title %}
  {%- trans %}Reloads list{% endtrans %} -- {{ counter.name }}
{% endblock %}

{% block content %}
  <h3>{% trans %}Refilling{% endtrans %}</h3>
  <table>
    <tr>
      <th>{% trans %}Customer{% endtrans %}</th>
      <th>{% trans %}Amount{% endtrans %}</th>
      <th>{% trans %}Payment method{% endtrans %}</th>
      <th>{% trans %}Seller{% endtrans %}</th>
      <th>{% trans %}Date{% endtrans %}
        <th>{% trans %}Actions{% endtrans %}</th>
      </tr>
      {%- for refilling in object_list %}
        <tr>
          <td><a href="{{ url('core:user_profile', user_id=refilling.customer.user.id) }}">{{ refilling.customer }}</a></td>
          <td>{{ refilling.amount }}</td>
          <td>{{ refilling.payment_method }}</td>
          <td>{{ refilling.operator }}</td>
          <td>{{ refilling.date }}</td>
          <td><a href="{{ url('counter:refilling_delete', refilling_id=refilling.id)}}">Delete</a></td>
        </tr>
      {%- endfor %}
    </table>
    {% if is_paginated %}
      {{ paginate(page_obj, paginator) }}
    {% endif %}
{%- endblock %}

