{% extends "core/user_base.jinja" %}

{% block title %}
{% trans user_name=profile.get_display_name() %}{{ user_name }}'s account{% endtrans %}
{% endblock %}

{% block infos %}
<h3>{% trans %}User account{% endtrans %}</h3>
<p>{% trans %}Amount: {% endtrans %}{{ customer.amount }} €</p>
<p>{{ customer.refillings.all() }}</p>
<p>{{ customer.buyings.all() }}</p>
{% endblock %}



