.activity-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-top: 10px;

  > div {
    display: flex;
    flex-direction: row;
    gap: 10px;

    > span {
      text-align: left;
    }

    > i {
      width: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

#activityGraph {
  th {
    border: none;
  }

  .fc-col-header-cell-cushion {
    color: white;
  }

  table table {
    // the JS library puts tables inside the table
    // Those additional tables must be hidden
    border: none;
    box-shadow: none;
  }
}