@import "core/static/core/colors";

.quantity {
  display: inline-block;
  min-width: 1.2em;
  text-align: center;
}

.remove-item {
  float: right;
}

.basket-error-container {
  position: relative;
  display: block
}

.basket-error {
  z-index: 10; // to get on top of tomselect
  text-align: center;
  position: absolute;
}


#bar-ui {
  padding: 0.4em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

#products {
  flex-basis: 100%;
  margin: 0.2em;
  overflow: auto;
}

#click-form {
  flex: auto;
  margin: 0.2em;
  width: 20%;
  min-width: 350px;

  ul {
    list-style-type: none;
  }
}

#user_info {
  flex: auto;
  padding: 0.5em;
  margin: 0.2em;
  height: 100%;
  background: $secondary-neutral-light-color;

  img {
    max-width: 70%;
  }

  input {
    background: white;
  }
}

.alert-ban {
  background-color: red;
  color: white;
  padding: 1em;
  border-radius: 5px;
  margin: 0.2em;
  flex: auto;
  min-width: 350px;

  h4 {
    margin-top: 0;
    color: white;
  }

  ul {
    margin-bottom: 0;
    padding-left: 1.5em;
  }

  @media (max-width: 600px) {
    min-width: auto;
  }
}

.ban-reason{
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 40px 0;
  flex-direction: column;

  strong {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    font-size: 1.2em;
  }
}
