@import "core/static/core/devices";

.add-members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  fieldset {
    margin: 0;
    &:has(user-ajax-select) {
      width: 100%;
    }
  }
  input[type="submit"] {
    margin: auto 0;
  }

  @media (max-width: $medium-devices) {
    flex-direction: column;
    align-items: center;

    input[type="text"],
    input[type="submit"],
    select,
    fieldset {
      width: 100%;
      max-width: unset;
    }
  }
}

.members-table {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
