{% extends "core/base.jinja" %}

{% block title %}
{% trans %}Delete{% endtrans %}
{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>{% trans %}Are you sure you want to delete {% endtrans %}"{{ object }}"?</p>
    <input type="submit" value="Confirm" />
</form>
{% endblock content %}