{% extends "core/base.jinja" %}

{% block title %}
{% trans %}Election list{% endtrans %}
{% endblock %}

{% block content %}
	{% for el in object_list %}
		{% if el.is_active %}
			<p><a href="{{ url('election:detail', election_id=el.id) }}">{{el}}</a></p>
		{% endif %}
	{% endfor %}
{% endblock %}