{% extends "core/base.jinja" %}

{% block title %}
{% trans %}Election list{% endtrans %}
{% endblock %}

{% block content %}
	{% if object.has_voted(request.user) %}
		A voté
	{% endif %}
	<h1>{{object.title}}</h1>
	<p>{{object.description}}</p>
	<p>{% trans %}End :{% endtrans %} {{object.end_date}}</p>
	{% for role in object.role.all() %}
		<h2>{{role.title}}</h2>
		{% for candidature in role.candidature.all() %}
			<a href="{{url('core:user_profile', user_id=candidature.user.id)}}"><h3>{{candidature.user.first_name}} {{candidature.user.last_name}} ({{candidature.user.nick_name}})</h3></a>
			{% if candidature.user.profile_pict %}
				<p><img src="{{candidature.user.profile_pict.get_download_url()}}" alt="{% trans %}Profile{% endtrans %}"/></p>
			{% endif %}
			{% if candidature.program %}
				<h4>Programme</h4>
				<p>{{candidature.program}}</p>
			{% endif %}
		{% endfor %}
	{% endfor %}
{% endblock %}