{% extends "core/base.jinja" %}

{% block title %}
{% trans %}Vote{% endtrans %}
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p() }}
    <p><input type="submit" value="{% trans %}Save{% endtrans %}" /></p>
</form>
{% endblock content %}