{% extends "core/base.jinja" %}

{% block title %}
{% trans %}News{% endtrans %} -
{{ object.title }}
{% endblock %}

{% block content %}
    <h3>{% trans %}News{% endtrans %}</h3>
    {{ object }}
    {{ object.dates.all() }}
{% endblock %}



