{% extends "core/base.jinja" %}

{% block title %}
{% if object %}
{% trans %}Edit news{% endtrans %}
{% else %}
{% trans %}Create news{% endtrans %}
{% endif %}
{% endblock %}

{% block content %}
{% if object %}
<h2>{% trans %}Edit news{% endtrans %}</h2>
{% else %}
<h2>{% trans %}Create news{% endtrans %}</h2>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors() }}
    {{ form.owner }}
    <p>{{ form.type.errors }}<label for="{{ form.type.name }}">{{ form.type.label }}</label> {{ form.type }}</p>
    <p class="date">{{ form.start_date.errors }}<label for="{{ form.start_date.name }}">{{ form.start_date.label }}</label> {{ form.start_date }}</p>
    <p class="date">{{ form.end_date.errors }}<label for="{{ form.end_date.name }}">{{ form.end_date.label }}</label> {{ form.end_date }}</p>
    <p class="until">{{ form.until.errors }}<label for="{{ form.until.name }}">{{ form.until.label }}</label> {{ form.until }}</p>
    <p>{{ form.title.errors }}<label for="{{ form.title.name }}">{{ form.title.label }}</label> {{ form.title }}</p>
    <p>{{ form.club.errors }}<label for="{{ form.club.name }}">{{ form.club.label }}</label> {{ form.club }}</p>
    <p>{{ form.summary.errors }}<label for="{{ form.summary.name }}">{{ form.summary.label }}</label> {{ form.summary }}</p>
    <p>{{ form.content.errors }}<label for="{{ form.content.name }}">{{ form.content.label }}</label> {{ form.content }}</p>
    <p><input type="submit" value="{% trans %}Save{% endtrans %}" /></p>
</form>
{% endblock %}

{% block script %}
    {{ super() }}
<script>
$( function() {
        var type = $('input[name=type]');
        var dates = $('.date');
        var until = $('.until');
        function update_targets () {
            type_checked = $('input[name=type]:checked');
            if (type_checked.val() == "EVENT" || type_checked.val() == "CALL") {
                dates.show();
                until.hide();
            } else if (type_checked.val() == "WEEKLY") {
                dates.show();
                until.show();
            } else {
                dates.hide();
                until.hide();
            }
        }
        update_targets();
        type.change(update_targets);
        } );
</script>
{% endblock %}


