{% extends "core/base.jinja" %}
{% from 'core/macros.jinja' import user_profile_link, facebook_share, tweet, link_news_logo, gen_news_metatags %}

{% block title %}
  {% trans %}News{% endtrans %} -
  {{ object.title }}
{% endblock %}

{% block head %}
  {{ super() }}
  {{ gen_news_metatags(news) }}
{% endblock %}


{% block additional_css %}
  <link rel="stylesheet" href="{{ static('com/css/news-detail.scss') }}">
{% endblock %}

{% block content %}
  <p><a href="{{ url('com:news_list') }}">{% trans %}Back to news{% endtrans %}</a></p>
  <section id="news_details">
    <div class="club_logo">
      <img src="{{ link_news_logo(news)}}" alt="{{ news.club }}" />
      <a href="{{ news.club.get_absolute_url() }}">{{ news.club }}</a>
    </div>
    <h4>{{ news.title }}</h4>
    <p class="date">
      <span>{{ date.start_date|localtime|date(DATETIME_FORMAT) }}
        {{ date.start_date|localtime|time(DATETIME_FORMAT) }}</span> -
      <span>{{ date.end_date|localtime|date(DATETIME_FORMAT) }}
        {{ date.end_date|localtime|time(DATETIME_FORMAT) }}</span>
    </p>
    <div class="news_content">
      <div><em>{{ news.summary|markdown }}</em></div>
      <br/>
      <div>{{ news.content|markdown }}</div>
      {{ facebook_share(news) }}
      {{ tweet(news) }}
      <div class="news_meta">
        <p>{% trans %}Author: {% endtrans %}{{ user_profile_link(news.author) }}</p>
        {% if news.moderator %}
          <p>{% trans %}Moderator: {% endtrans %}{{ user_profile_link(news.moderator) }}</p>
        {% elif user.is_com_admin %}
          <p> <a href="{{ url('com:news_moderate', news_id=news.id) }}">{% trans %}Moderate{% endtrans %}</a></p>
        {% endif %}
        {% if user.can_edit(news) %}
          <p> <a href="{{ url('com:news_edit', news_id=news.id) }}">{% trans %}Edit (will be moderated again){% endtrans %}</a></p>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}



