<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{% trans %}Slideshow{% endtrans %}</title>
    <link href="{{ static('css/slideshow.scss') }}" rel="stylesheet" type="text/css" />
    <script type="module" src="{{ static('bundled/jquery-index.js') }}"></script>
    <script src="{{ static('com/js/slideshow.js') }}"></script>
  </head>
  <body>
    <div id="slideshow">

      <div id="slides">
        {% for poster in posters %}
          <div class="slide {% if loop.first %}center{% else %}right{% endif %}" display_time="{{ poster.display_time }}">
            <img src="{{ poster.file.url }}">
          </div>
        {% endfor %}
      </div>

      <div id="progress_bullets">
        {% for poster in posters %}
          <div class="bullet {% if loop.first %}active{% endif %}"></div>
        {% endfor %}
      </div>

      <div id="progress_bar"></div>

    </div>
  </body>
</html>
