{% extends "core/base.jinja" %}

{% block title %}
{% trans %}Screen{% endtrans %}
{% endblock %}

{% block content %}
<div id="screen_edit">

    <div id="title">
        <div id="links" class="left">
            <a id="list" class="link" href="{{ url("com:screen_list") }}">{% trans %}List{% endtrans %}</a>
        </div>
        <h3>{% trans %}Screen - edit{% endtrans %}</h3>
        <div id="links" class="right">
            <a class="link delete" href="{{ url("com:screen_delete", screen.id) }}">{% trans %}Delete{% endtrans %}</a>
        </div>
    </div>

    <div id="screen">

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p() }}
            <p><input type="submit" value="{% trans %}Save{% endtrans %}" /></p>
        </form>

    </div>

</div>
{% endblock %}



