{% extends "core/base.jinja" %}

{% block title %}
  {% trans %}Screens{% endtrans %}
{% endblock %}

{% block content %}
  <div id="screen_list">

    <div id="title">
      <h3>{% trans %}Screens{% endtrans %}</h3>
      <div id="links" class="right">
        <a id="create" class="link" href="{{ url("com:screen_create") }}">{% trans %}Create{% endtrans %}</a>
      </div>
    </div>

    <div id="screens">

      {% if screen_list.count() == 0 %}
        <div id="no-screens">{% trans %}No screens{% endtrans %}</div>
      {% else %}

        {% for screen in screen_list %}
          <div class="screen">
            <div class="name">{{ screen.name }}</div>
            <a class="edit" href="{{ url("com:screen_edit", screen.id) }}">{% trans %}Edit{% endtrans %}</a>
            <a class="slideshow" href="{{ url("com:screen_slideshow", screen.id) }}" target="_blank">{% trans %}Slideshow{% endtrans %}</a>
          </div>
        {% endfor %}

      {% endif %}

    </div>

  </div>
{% endblock %}



