{% extends "core/base.jinja" %}

{% block title %}
{% trans %}Weekmail{% endtrans %}
{% endblock %}

{% block content %}
    <h3>{% trans %}Weekmail{% endtrans %}</h3>
    {{ object }}
{% endblock %}



