{% extends "core/base.jinja" %}

{% block title %}
{% trans %}Bank account list{% endtrans %}
{% endblock %}

{% block content %}
    <p><a href="{{ url('accounting:type_list') }}">{% trans %}Manage accounting types{% endtrans %}</a></p>
    <p><a href="{{ url('accounting:bank_new') }}">{% trans %}New bank account{% endtrans %}</a></p>
    {% if bankaccount_list %}
    <h3>{% trans %}Bank account list{% endtrans %}</h3>
        <ul>
            {% for a in bankaccount_list  %}
            <li><a href="{{ url('accounting:bank_details', b_account_id=a.id) }}">{{ a }}</a> -
                <a href="{{ url('accounting:bank_edit', b_account_id=a.id) }}">{% trans %}Edit{% endtrans %}</a> -
                <a href="{{ url('accounting:bank_delete', b_account_id=a.id) }}">{% trans %}Delete{% endtrans %}</a></li>
            {% endfor %}
        </ul>
    {% else %}
    {% trans %}There is no accounts in this website.{% endtrans %}
    {% endif %}
{% endblock %}



