{% extends "core/base.jinja" %}

{% block content %}
<p>
<a href="{{ url('accounting:bank_list') }}">Accounting</a> >
{{ object.name }}
</p>
    <h2>View account</h2>
    <ul>
    {% for k,v in object.__dict__.items() %}
        <li>{{ k }} - {{ v }}</li>
    {% endfor %}
    </ul>
    <p><a href="{{ url('accounting:club_new') }}?parent={{ object.id }}">New club account</a></p>
    <ul>
    {% for c in object.club_accounts.all() %}
        <li><a href="{{ url('accounting:club_details', c_account_id=c.id) }}">{{ c }}</a> -
            <a href="{{ url('accounting:club_edit', c_account_id=c.id) }}">Edit</a> -
            <a href="{{ url('accounting:club_delete', c_account_id=c.id) }}">Delete</a></li>
    {% endfor %}
    </ul>

{% endblock %}



