{% extends "core/base.jinja" %}

{% block title %}
  {% trans %}Bank account: {% endtrans %}{{ object.name }}
{% endblock %}

{% block content %}
  <div id="accounting">
    <p>
      <a href="{{ url('accounting:bank_list') }}">{% trans %}Accounting{% endtrans %}</a> >
      {{ object.name }}
    </p>
    <hr>
    <h2>{% trans %}Bank account: {% endtrans %}{{ object.name }}</h2>
    {% if user.is_in_group(pk=settings.SITH_GROUP_ACCOUNTING_ADMIN_ID) and not object.club_accounts.exists() %}
      <a href="{{ url('accounting:bank_delete', b_account_id=object.id) }}">{% trans %}Delete{% endtrans %}</a>
    {% endif %}
    <h4>{% trans %}Infos{% endtrans %}</h4>
    <ul>
      <li><strong>{% trans %}IBAN: {% endtrans %}</strong>{{ object.iban }}</li>
      <li><strong>{% trans %}Number: {% endtrans %}</strong>{{ object.number }}</li>
    </ul>
    <p><a href="{{ url('accounting:club_new') }}?parent={{ object.id }}">{% trans %}New club account{% endtrans %}</a></p>
    <ul>
      {% for c in object.club_accounts.all() %}
        <li><a href="{{ url('accounting:club_details', c_account_id=c.id) }}">{{ c }}</a>
          - <a href="{{ url('accounting:club_edit', c_account_id=c.id) }}">{% trans %}Edit{% endtrans %}</a>
          {% if c.journals.count() == 0 %}
            - <a href="{{ url('accounting:club_delete', c_account_id=c.id) }}">{% trans %}Delete{% endtrans %}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}



