{% extends "core/base.jinja" %}

{% block content %}
<h2>View account: {{ object.name }}</h2>
    <ul>
    {% for k,v in object.__dict__.items() %}
        <li>{{ k }} - {{ v }}</li>
    {% endfor %}
    </ul>
    <p><a href="{{ url('accounting:journal_new') }}">New journal</a></p>
    <ul>
    {% for c in object.journals.all() %}
    <li>{{ c }}</li>
    {% endfor %}
    </ul>

{% endblock %}



