{% extends "core/base.jinja" %}

{% block content %}
<p>
<a href="{{ url('accounting:bank_list') }}">Accounting</a> >
<a href="{{ url('accounting:bank_details', b_account_id=object.bank_account.id) }}">{{object.bank_account }}</a> >
{{ object }}
<h2>View account: {{ object.name }}</h2>
    <ul>
    {% for k,v in object.__dict__.items() %}
        <li>{{ k }} - {{ v }}</li>
    {% endfor %}
    </ul>
    <p><a href="{{ url('accounting:journal_new') }}">New journal</a></p>
    <ul>
    {% for j in object.journals.all() %}
    <li>
        <a href="{{ url('accounting:journal_details', j_id=j.id) }}">{{ j }}</a> -
        <a href="{{ url('accounting:journal_edit', j_id=j.id) }}">Edit</a>

    </li>
    {% endfor %}
    </ul>

{% endblock %}



