{% extends "core/base.jinja" %}

{% block title %}
  {% trans %}Company list{% endtrans %}
{% endblock %}

{% block content %}
  <div id="accounting">
    {% if user.is_root
    or user.is_in_group(pk=settings.SITH_GROUP_ACCOUNTING_ADMIN_ID)
    %}
    <p><a href="{{ url('accounting:co_new') }}">{% trans %}Create new company{% endtrans %}</a></p>
{% endif %}
<br/>
<table>
  <thead>
    <tr>
      <td>{% trans %}Companies{% endtrans %}</td>
    </tr>
  </thead>
  <tbody>
    {% for o in object_list %}
      <tr>
        <td><a href="{{ url('accounting:co_edit', co_id=o.id) }}">{{ o.get_display_name() }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
