{% extends "core/base.jinja" %}

{% block content %}
<p>
<a href="{{ url('accounting:bank_list') }}">Accounting</a> >
<a href="{{ url('accounting:bank_details', b_account_id=object.club_account.bank_account.id) }}">{{object.club_account.bank_account }}</a> >
<a href="{{ url('accounting:club_details', c_account_id=object.club_account.id) }}">{{ object.club_account }}</a> >
{{ object.name }}
</p>
    <p><strong>Amount: </strong>{{ object.amount }} € - <strong>Effective amount: </strong>{{ object.effective_amount }} €</p>
    <p><a href="{{ url('accounting:op_new') }}">New operation</a></p>
    <table>
        <tr>
            <td>Nb</td>
            <td>Date</td>
            <td>Label</td>
            <td>Amount</td>
            <td>Payment mode</td>
            <!-- <td>Target</td> -->
            <td>Code</td>
            <td>Nature</td>
            <td>Done</td>
            <td>Comment</td>
            <td>Actions</td>
        </tr>
    {% for o in object.operations.all() %}
        <tr>
            <td>{{ o.id }}</td>
            <td>{{ o.date }}</td>
            <td>{{ o.label }}</td>
            <td>{{ o.amount }} €</td>
            <td>{{ o.mode }}</td>
            <td>{{ o.accounting_type.code }}</td>
            <td>{{ o.accounting_type.label }}</td>
            {% if o.done %}
            <td>Yes</td>
            {% else %}
            <td>No</td>
            {% endif %}
            <td>{{ o.remark }}</td>
            <td><a href="{{ url('accounting:op_edit', op_id=o.id) }}">Edit</a></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}



