{% extends "core/base.jinja" %}

{% block title %}
{% trans %}General journal:{% endtrans %} {{ object.name }}
{% endblock %}


{% block content %}
	<h2>{% trans %}Nature bilan: {% endtrans %} {{ object.name }}</h2>

	<h3>{% trans %}Credit{% endtrans %}</h3>

	<table>
        <thead>
        <tr>
            <td>{% trans %}Nature of operation{% endtrans %}</td>
            <td>{% trans %}Amount{% endtrans %}</td>
        </tr>
        </thead>
        <tbody></tr>
        	<td>bla</td>
        	<td>{{self.get_test()}}</td>
        <tr>
        </tbody>

    </table>

	<h3>{% trans %}Debit{% endtrans %}</h3>

{% endblock %}