{% extends "core/base.jinja" %}

{% block title %}
{% trans %}General journal:{% endtrans %} {{ object.name }}
{% endblock %}


{% block content %}
<div id="accounting">
    <h3>{% trans %}Accounting statement: {% endtrans %} {{ object.name }}</h3>

    <table>
        <thead>
            <tr>
                <td>{% trans %}Operation type{% endtrans %}</td>
                <td>{% trans %}Sum{% endtrans %}</td>
            </tr>
        </thead>
        <tbody>
            {% for k,v in statement.items() %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ "%.2f" % v }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <p><strong>{% trans %}Amount: {% endtrans %}</strong>{{ "%.2f" % object.amount }} €</p>
    <p><strong>{% trans %}Effective amount: {% endtrans %}</strong>{{ "%.2f" %object.effective_amount }} €</p>
</div>
{% endblock %}
