{% extends "core/base.jinja" %}

{% block title %}
{% trans s = shoppinglist %}Update {{ s }}'s quantity after shopping{% endtrans %}
{% endblock %}

{% block content %}
<h3>{% trans s = shoppinglist %}Update {{ s }}'s quantity after shopping{% endtrans %}</h3>
    <div>
    	<form method="post" action="" class="inline" style="display:inline">
        	{% csrf_token %}
        	{{ form.as_p() }}
            <p><input type="submit" value="{% trans %}Update stock quantities{% endtrans %}" /></p>
        </form>
    </div>
{% endblock %}