{% extends "core/base.jinja" %}

{% block content %}

  <div id="page">
    <h3>{% trans %}404, Not Found{% endtrans %}</h3>

    <blockquote>
      {% trans %}Impossible, perhaps the archives are incomplete{% endtrans %}
    </blockquote>
  </div>

{% endblock %}


