{% extends "core/base.jinja" %}
{% block additional_js %}
  {% if settings.SENTRY_DSN %}
    <script type="module" src="{{ static('bundled/sentry-popup-index.ts') }}"></script>
  {% endif %}
{% endblock additional_js %}

{% block content %}
  <h3>{% trans %}500, Server Error{% endtrans %}</h3>
  {% if settings.SENTRY_DSN %}
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        loadSentryPopup({
          dsn: "{{ settings.SENTRY_DSN }}",
          eventId: "{{ request.sentry_last_event_id() }}",
          {% if user.is_authenticated %}
            user: {
              name: '{{user.first_name}} {{user.last_name}}',
              email: '{{user.email}}'
            }
          {% endif %}
        });
      });
    </script>
  {% endif %}
{% endblock content %}
