<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
        <title>{% block title %}{% trans %}Welcome!{% endtrans %}{% endblock %} - Association des Étudiants UTBM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ static('core/img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ static('core/base.css') }}">
        <link rel="stylesheet" href="{{ static('core/jquery.datetimepicker.min.css') }}">
        <link rel="stylesheet" href="{{ static('ajax_select/css/ajax_select.css') }}">
        <link rel="stylesheet" href="{{ scss('core/style.scss') }}">
        {% block jquery_css %}
            {# Thile file is quite heavy (around 250kb), so declaring it in a block allows easy removal #}
            <link rel="stylesheet" href="{{ static('core/js/ui/jquery-ui.min.css') }}">
        {% endblock %}
        <link rel="preload" as="style" href="{{ static('core/font-awesome/css/font-awesome.min.css') }}" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="{{ static('core/font-awesome/css/font-awesome.min.css') }}"></noscript>
        <script defer href="{{ static('core/font-awesome/js/fontawesone.min.js') }}"></script>

        <!-- Jquery declared here to be accessible in every django widgets -->
        <script src="{{ static('core/js/jquery-3.6.2.min.js') }}"></script>
        <!-- Put here to always have acces to those functions on django widgets -->
        <script src="{{ static('core/js/script.js') }}"></script>
        {% block additional_css %}{% endblock %}
        {% block additional_js %}{% endblock %}
        {% endblock %}
    </head>

    <body>

        <!-- The token is always passed here to be accessible from the dom -->
        <!-- See this workaround https://docs.djangoproject.com/en/2.0/ref/csrf/#acquiring-the-token-if-csrf-use-sessions-is-true -->
        {% csrf_token %}
        <!-- BEGIN HEADER -->
        {% block header %}
        {% if not popup %}
        <header>
        <div id="header_language_chooser">
            {% for language in LANGUAGES %}
            <form action="{{ url('set_language') }}" method="post">{% csrf_token %}
                <input name="next" value="{{ request.path }}" type="hidden" />
                <input name="language" value="{{ language[0] }}" type="hidden" />
                <input type="submit" value="{{ language[0]|upper }}" />
            </form>
            {% endfor %}
        </div>
            <div id="header_logo">
                <a href="{{ url('core:index') }}">
                    <img src="{{ static('core/img/logo.png') }}" alt="AE logo">
                </a>
            </div>
            {% if not user.is_authenticated %}
            <div id="header_connect_links">
                <form method="post" action="{{ url('core:login') }}">
                {% csrf_token %}
                <label for="id_username">{% trans %}Username{% endtrans %}</label>
                    <input id="id_username" maxlength="254" name="username" type="text">
                <label for="id_password">{% trans %}Password{% endtrans %}</label>
                    <input type="password" name="password" id="id_password">
                <input type="submit" value="{% trans %}Login{% endtrans %}">
                </form>
                <a href="{{ url('core:register') }}"><button type="button">{% trans %}Register{% endtrans %}</button></a>
            </div>
            {% else %}
            <div id="header_bar">
                <ul id="header_bars_infos">
                {% cache 100 "counters_activity" %}
                    {% for bar in Counter.objects.annotate_has_barman(user).filter(type="BAR") %}
                        <li>
                            {# If the user is a barman, we redirect him directly to the barman page
                            else we redirect him to the activity page #}
                            {% if bar.has_annotated_barman %}
                                <a href="{{ url('counter:details', counter_id=bar.id) }}" style="padding: 0">
                            {% else %}
                                <a href="{{ url('counter:activity', counter_id=bar.id) }}" style="padding: 0">
                            {% endif %}
                                {% if bar.is_inactive(): %}
                                  <i class="fa fa-question" style="color: #f39c12"></i>
                                {% elif bar.is_open(): %}
                                  <i class="fa fa-check" style="color: #2ecc71"></i>
                                {% else %}
                                  <i class="fa fa-times" style="color: #eb2f06"></i>
                                {% endif %}
                                {{ bar }}
                            </a>
                        </li>
                    {% endfor %}
                  </ul>
                {% endcache %}
                <form action="{{ url('core:search') }}" method="GET" id="header_search">
                    <input type="text" placeholder="{% trans %}Search{% endtrans %}" name="query" id="search" />
                    <input type="submit" value="{% trans %}Search{% endtrans %}" style="display: none;" />
                </form>
                <div id="header_user_links">
                    <div>
                      <a href="{{ url('core:user_profile', user_id=user.id) }}">{{ user.get_display_name() }}</a>
                    </div>
                    <div>
                      <a href="#" onclick="display_notif()" style="white-space: nowrap;"><i class="fa fa-bell-o"></i> ({{ user.notifications.filter(viewed=False).count() }})</a>
                      <ul id="header_notif">
                          {% for n in user.notifications.filter(viewed=False).order_by('-date') %}
                          <li>
                              <a href="{{ url("core:notification", notif_id=n.id) }}">
                                  <span class="header_notif_date">
                                      {{ n.date|localtime|date(DATE_FORMAT) }}
                                  </span>
                                  <span class="header_notif_time">
                                      {{ n.date|localtime|time(DATETIME_FORMAT) }}
                                  </span>
                                  <br>
                                  {{ n }}
                              </a>
                          </li>
                          {% endfor %}
                          <li>
                              <strong>
                              <a href="{{ url('core:notification_list') }}">
                                  {% trans %}View more{% endtrans %}
                              </a>
                              <br />
                              <a href="{{ url('core:notification_list') }}?see_all">
                                  {% trans %}Mark all as read{% endtrans %}
                              </a>
                              </strong>
                          </li>
                      </ul>
                    </div>
                    <div>
                      <a href="{{ url('core:user_tools') }}">{% trans %}Tools{% endtrans %}</a>
                    </div>
                    <div>
                      <a href="{{ url('core:logout') }}">{% trans %}Logout{% endtrans %}</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </header>

        <div id="info_boxes">
            {% block info_boxes %}
                {% set sith = get_sith() %}
                {% if sith.alert_msg %}
                <div id="alert_box">
                    {{ sith.alert_msg|markdown }}
                </div>
                {% endif %}
                {% if sith.info_msg %}
                <div id="info_box">
                    {{ sith.info_msg|markdown }}
                </div>
                {% endif %}
            {% endblock %}
        </div>

        {% else %}{# if not popup #}
        <div id="popupheader">{{ user.get_display_name() }}</div>
        {% endif %}


        {% endblock %}
        <!-- END HEADER -->

        <div id="page">
          {% block nav %}
          {% if not popup %}
          <nav>
              <a href="{{ url('core:index') }}">{% trans %}Main{% endtrans %}</a>
              <div class="dropdown">
                <button class="dropbtn">{% trans %}Associations & Clubs{% endtrans %}
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url('core:page', page_name='ae') }}">{% trans %}AE{% endtrans %}</a>
                    <a href="{{ url('core:page', page_name='clubs') }}">{% trans %}AE's clubs{% endtrans %}</a>
                    <a href="{{ url('core:page', page_name='bdf') }}">{% trans %}BdF{% endtrans %}</a>
                    <a href="{{ url('core:page', page_name='bds') }}">{% trans %}BDS{% endtrans %}</a>
                    <a href="{{ url('core:page', page_name='cetu') }}">{% trans %}CETU{% endtrans %}</a>
                    <a href="{{ url('core:page', page_name='clubs/doceo') }}">{% trans %}Doceo{% endtrans %}</a>
                    <a href="{{ url('core:page', page_name='positions') }}">{% trans %}Positions{% endtrans %}</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="dropbtn">{% trans %}Events{% endtrans %}
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url('election:list') }}">{% trans %}Elections{% endtrans %}</a>
                    <a href="{{ url('core:page', page_name='ga') }}">{% trans %}Big event{% endtrans %}</a>
                </div>
              </div>
              <a href="{{ url('forum:main') }}">{% trans %}Forum{% endtrans %}</a>
              <a href="{{ url('sas:main') }}">{% trans %}Gallery{% endtrans %}</a>
              <a href="{{ url('eboutic:main') }}">{% trans %}Eboutic{% endtrans %}</a>
              <div class="dropdown">
                <button class="dropbtn">{% trans %}Services{% endtrans %}
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url('matmat:search_clear') }}">{% trans %}Matmatronch{% endtrans %}</a>
                    <a href="/launderette">{% trans %}Launderette{% endtrans %}</a>
                    <a href="{{ url('core:file_list') }}">{% trans %}Files{% endtrans %}</a>
                    <a href="{{ url('pedagogy:guide') }}">{% trans %}Pedagogy{% endtrans %}</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="dropbtn">{% trans %}My Benefits{% endtrans %}
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="{{ url('core:page', page_name='partenaires')}}">{% trans %}Sponsors{% endtrans %}</a>
                  <a href="{{ url('core:page', page_name='avantages') }}">{% trans %}Subscriber benefits{% endtrans %}</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="dropbtn">{% trans %}Help{% endtrans %}
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url('core:page', page_name='FAQ') }}">{% trans %}FAQ{% endtrans %}</a>
                    <a href="{{ url('core:page', 'contacts') }}">{% trans %}Contacts{% endtrans %}</a>
                    <a href="{{ url('core:page', page_name="Index") }}">{% trans %}Wiki{% endtrans %}</a>
                </div>
              </div>
          </nav>
          {% endif %}
          {% endblock %}

          <ul id="quick_notif">
              {% for n in quick_notifs %}
              <li>{{ n }}</li>
              {% endfor %}
          </ul>

          <div id="content">
              {% if list_of_tabs %}
              <div class="tool_bar">
                  <div>{{ tabs_title }}</div>
                  <div class="tools">
                      {% for t in list_of_tabs -%}
                      <a href="{{ t.url }}"
                          {%- if current_tab == t.slug %}
                              class="selected_tab"
                          {%- endif -%}
                      >{{ t.name }}</a>
                      {%- endfor %}
                  </div>
              </div>
              {% endif %}

              {% if error %}
              {{ error }}
              {% endif %}
              {% block content %}
              {% endblock %}
          </div>
        </div>

        {% if not popup %}
        <footer>
            {% block footer %}
            <div>
                <a href="{{ url('core:page', 'contacts') }}">{% trans %}Contacts{% endtrans %}</a>
                <a href="{{ url('core:page', 'legals') }}">{% trans %}Legal notices{% endtrans %}</a>
                <a href="{{ url('core:page', 'copyright_agent') }}">{% trans %}Intellectual property{% endtrans %}</a>
                <a href="{{ url('core:page', 'docs') }}">{% trans %}Help & Documentation{% endtrans %}</a>
                <a href="{{ url('core:page', 'rd') }}">{% trans %}R&D{% endtrans %}</a>
            </div>
            {% trans %}Site made by good people{% endtrans %}
            {% endblock %}
        </footer>
        {% endif %}
        <!--
            {% block tests %}
            {{ tests }}
            {% endblock %}
        -->
        {% block script %}
        <script src="{{ static('core/js/ui/jquery-ui.min.js') }}"></script>
        <script src="{{ static('core/js/ui/i18n/datepicker-fr.js') }}"></script>
        <script src="{{ static('core/js/jquery.datetimepicker.full.min.js') }}"></script>
        <script src="{{ static('ajax_select/js/ajax_select.js') }}"></script>
        <script src="{{ url('javascript-catalog') }}"></script>
        <script>
$('.select_date').datepicker({
    changeMonth: true,
    changeYear: true,
    dayNamesShort: $.datepicker.regional[ "{{ request.LANGUAGE_CODE }}"  ].dayNamesShort,
    dayNames: $.datepicker.regional[ "{{ request.LANGUAGE_CODE }}"  ].dayNames,
    monthNamesShort: $.datepicker.regional[ "{{ request.LANGUAGE_CODE }}"  ].monthNamesShort,
    monthNames: $.datepicker.regional[ "{{ request.LANGUAGE_CODE }}"  ].monthNames,
}).datepicker( $.datepicker.regional[ "{{ request.LANGUAGE_CODE }}"] );
$(document).keydown(function (e) {
    if ($(e.target).is('input')) { return }
    if ($(e.target).is('textarea')) { return }
    if ($(e.target).is('select')) { return }
    if (e.keyCode == 83) {
        $("#search").focus();
        return false;
    }
});
jQuery.datetimepicker.setLocale('{{ request.LANGUAGE_CODE|lower }}');
$('.select_datetime').datetimepicker({
        format: 'Y-m-d H:i:s',
});

        </script>
        {% endblock %}
    </body>
</html>
