<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block head %}
      <title>{% block title %}Association des Étudiants de l'UTBM{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{% block description -%}
                                          {% trans trimmed %}
                                            AE UTBM is a voluntary organisation run by UTBM students.
                                            It organises student life at UTBM and manages its student facilities.
                                          {% endtrans %}
                                        {%- endblock %}">
      <link rel="shortcut icon" href="{{ static('core/img/favicon.ico') }}">
      <link rel="stylesheet" href="{{ static('core/base.css') }}">
      <link rel="stylesheet" href="{{ static('core/style.scss') }}">
      <link rel="stylesheet" href="{{ static('core/tooltips.scss') }}">
      <link rel="stylesheet" href="{{ static('core/markdown.scss') }}">
      <link rel="stylesheet" href="{{ static('core/header.scss') }}">
      <link rel="stylesheet" href="{{ static('core/navbar.scss') }}">
      <link rel="stylesheet" href="{{ static('core/footer.scss') }}">
      <link rel="stylesheet" href="{{ static('core/pagination.scss') }}">
      <link rel="stylesheet" href="{{ static('core/accordion.scss') }}">

      <link rel="preload" as="style" href="{{ static('bundled/fontawesome-index.css') }}" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="{{ static('bundled/fontawesome-index.css') }}"></noscript>

      <script src="{{ url('javascript-catalog') }}"></script>
      <script type="module" src={{ static("bundled/core/navbar-index.ts") }}></script>
      <script type="module" src={{ static("bundled/core/components/include-index.ts") }}></script>
      <script type="module" src="{{ static('bundled/alpine-index.js') }}"></script>
      <script type="module" src="{{ static('bundled/htmx-index.js') }}"></script>
      <script type="module" src="{{ static('bundled/country-flags-index.ts') }}"></script>
      <script type="module" src="{{ static('bundled/core/tooltips-index.ts') }}"></script>

      <!-- Jquery declared here to be accessible in every django widgets -->
      <script src="{{ static('bundled/vendored/jquery.min.js') }}"></script>

      {% block additional_css %}{% endblock %}
      {% block additional_js %}{% endblock %}
    {% endblock %}
  </head>

  <body>

    <!-- The token is always passed here to be accessible from the dom -->
    <!-- See this workaround https://docs.djangoproject.com/en/2.0/ref/csrf/#acquiring-the-token-if-csrf-use-sessions-is-true -->
    {% csrf_token %}

    {% block header %}
      {% include "core/base/header.jinja" %}

      {% block info_boxes %}
        <div id="info_boxes">
          {% set sith = get_sith() %}
          {% if sith.alert_msg %}
            <div id="alert_box">
              {{ sith.alert_msg|markdown }}
            </div>
          {% endif %}
          {% if sith.info_msg %}
            <div id="info_box">
              {{ sith.info_msg|markdown }}
            </div>
          {% endif %}
        </div>
      {% endblock %}

    {% endblock %}

    {% block nav %}
      {% include "core/base/navbar.jinja" %}
    {% endblock %}

    <div id="page">

      {% block notifications %}
        {% include "core/base/notifications.jinja" %}
      {% endblock %}

      <div id="content">
        {%- block tabs -%}
          {% include "core/base/tabs.jinja" %}
        {%- endblock -%}

        {%- block errors -%}
          {% if error %}
            {{ error }}
          {% endif %}
        {%- endblock -%}

        {%- block content -%}
        {%- endblock -%}
      </div>
    </div>

    {% block footer %}
      {% include "core/base/footer.jinja" %}
    {% endblock %}

    {% block script %}
    {% endblock %}
  </body>
</html>
