{% extends "core/base.jinja" %}

{% block content %}
<h2>{% trans %}Create{% endtrans %}</h2>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p() }}
    <p><input type="submit" value="{% trans %}Save{% endtrans %}" /></p>
</form>
{% endblock %}




