{% extends "core/base.jinja" %}

{% block content %}
    <h2>Delete confirmation</h2>
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" value="Confirm" />
        <input type="submit" name="cancel" value="Cancel" />
    </form>
{% endblock %}




