{% extends "core/base.jinja" %}

{% block title %}
{% trans %}Doku to Markdown{% endtrans %}
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <textarea name="text" id="text" rows="30" cols="80">
        {{- text -}}
    </textarea>
    <p><input type="submit" value="{% trans %}Convert{% endtrans %}" /></p>
</form>
<hr>
<h6>{% trans %}Markdown{% endtrans %}</h6>
<div style="border: 1px solid black; color: white; background: black; padding: 10px; margin: 5px;"><pre>{{- text_md -}}</pre>
</div>
<hr>
<h6>{% trans %}Render{% endtrans %}</h6>
<div style="border: 1px solid black; padding: 10px; margin: 5px;" class="page_content">
{{ text_md|markdown }}
</div>
{% endblock %}



