{% extends "core/file.jinja" %}

{% block title %}
  {% trans %}Delete confirmation{% endtrans %}
{% endblock %}

{# Don't display tabs and errors #}
{% block tabs %}
{% endblock %}
{% block errors %}
{% endblock %}

{% block file %}
  <h2>{% trans %}Delete confirmation{% endtrans %}</h2>

  {% if next %}
    {% set action = current + "?next=" + next %}
  {% else %}
    {% set action = current %}
  {% endif %}

  <p>{% trans obj=object %}Are you sure you want to delete "{{ obj }}"?{% endtrans %}</p>
  <form
    method="post"
    {% if is_fragment %}
      hx-action="{{ action }}"
      hx-target="#content"
      hx-swap="innerHTML"
    {% else %}
      action="{{ action }}"
    {% endif %}
  >
    {% csrf_token %}
    <input type="submit" value="{% trans %}Confirm{% endtrans %}" />
  </form>
  <form
    method="get"
    {% if is_fragment %}
      hx-action="{{ previous }}"
      hx-target="#content"
      hx-swap="innerHTML"
    {% else %}
      action="javascript:history.back();"
    {% endif %}
  >
    <input type="submit" name="cancel" value="{% trans %}Cancel{% endtrans %}" />
  </form>
{% endblock %}




