{% extends "core/base.jinja" %}

{% block title %}
{% trans %}File moderation{% endtrans %}
{% endblock %}

{% block content %}
<h3>{% trans %}File moderation{% endtrans %}</h3>
<div>
    {% for f in files %}
    <div style="margin: 2px; padding: 2px; border: solid 1px red; text-align: center">
        {% if f.is_folder %}
        <strong>Folder</strong>
        {% else %}
        <strong>File</strong>
        {% endif %}
        <p>
            <a href="{{ url("core:file_detail", file_id=f.id) }}">{{ f.name }}</a><br/>
            {% trans %}Full name: {% endtrans %}{{ f.get_parent_path()+'/'+f.name }}<br/>
            {% trans %}Owner: {% endtrans %}{{ f.owner.get_display_name() }}<br/>
            {% trans %}Date: {% endtrans %}{{ f.date|date(DATE_FORMAT) }} {{ f.date|time(TIME_FORMAT) }}<br/>
        </p>
        <p><a href="{{ url('core:file_moderate', file_id=f.id) }}">{% trans %}Moderate{% endtrans %}</a> -
        <a href="{{ url('core:file_delete', file_id=f.id) }}?next={{ url('core:file_moderation') }}">{% trans %}Delete{% endtrans %}</a></p>
    </div>
    {% endfor %}
</div>
{% endblock %}
