{% extends "core/file.jinja" %}

{% block content %}
{{ super() }}
{% if file_list %}
<h3>{% trans %}File list{% endtrans %}</h3>
<ul>
    {% for f in file_list %}
    <li style="list-style-type: none;">
        {% if f.is_folder %}
			<i class="fa fa-folder" aria-hidden="true"></i>
        {% else %}
			<i class="fa fa-file" aria-hidden="true"></i>
        {% endif %}
        <a href="{{ url('core:file_detail', file_id=f.id, popup=popup) }}">{{ f.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>{% trans %}There is no file in this website.{% endtrans %}</p>
{% endif %}
{% endblock %}



