{% if is_fragment %}
  {% extends "core/base_fragment.jinja" %}
{% else %}
  {% extends "core/base.jinja" %}
{% endif %}

{% block title %}
  {% if file %}
    {{ file.get_display_name() }}
  {% elif file_list %}
    {% trans %}File list{% endtrans %}
  {% elif new_file %}
    {% trans %}New file{% endtrans %}
  {% else %}
    {% trans %}Not found{% endtrans %}
  {% endif %}
{% endblock %}

{% macro print_file_name(file) %}
  {% if file %}
    {{ print_file_name(file.parent) }} >
    <a href="{{ url('core:file_detail', file_id=file.id) }}">{{ file.get_display_name() }}</a>
  {% else %}
    <a href="{{ url('core:file_list') }}">{% trans %}Files{% endtrans %}</a>
  {% endif %}
{% endmacro %}

{% block tabs %}
  {{ print_file_name(file) }}

  <div class="tool_bar">
    <div class="tools">
      <div>
        {% set home = user.home %}
        {% if home %}
          <a href="{{ url('core:file_detail', home.id) }}">{% trans %}My files{% endtrans %}</a>
        {% endif %}
      </div>
      {% if file %}
        <a href="{{ url('core:file_detail', file.id) }}">{% trans %}View{% endtrans %}</a>
        {% if can_edit(file, user) %}
          <a href="{{ url('core:file_edit', file_id=file.id) }}">{% trans %}Edit{% endtrans %}</a>
        {% endif %}
        {% if can_edit_prop(file, user) %}
          <a href="{{ url('core:file_prop', file_id=file.id) }}">{% trans %}Prop{% endtrans %}</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <hr>
{% endblock %}

{% block content %}

  {% if file %}
    {% block file %}
    {% endblock %}
  {% endif %}

{% endblock %}
