{% extends "core/base.jinja" %}

{% block title %}
    {% trans %}Group detail{% endtrans %}
{% endblock title %}

{% block content %}
	<p><a href="{{ url('core:group_list') }}">{% trans %}Back to list{% endtrans %}</a></p>
    {% if not object.users.exists() %}
        <p>{% trans %}No user in this group{% endtrans %}</p>
    {% else %}
    	<ul>
        {% for user in object.users.all() %}
        	<li><a href="{{ url('core:user_profile', user.id) }}">{{ user }}</a></li>
        {% endfor %}
    	</ul>
    {% endif %}
    <form action="{{ url('core:group_detail', object.id) }}" method="post" id="add_users">
        {% csrf_token %}
        <p>
            {{ form.users_added.errors }}
            <label for="{{ form.users_added.id_for_label }}">{{ form.users_added.label }} :</label>
            {{ form.users_added }}
            <span class="helptext">{{ form.users_added.help_text }}</span>
        </p>
        <input type="submit" name="submit">
    </form>
{% endblock content %}