{% extends "core/base.jinja" %}

{% block title %}
Group list
{% endblock %}

{% block content %}
<h3>Group list</h3>
<ul>
{% for g in realgroup_list %}
<li><a href="{{ url('core:group_edit', group_id=g.id) }}">{{ g.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}

