{% extends "core/base.jinja" %}

{% block title %}
{% trans %}Welcome!{% endtrans %}
{% endblock %}
{% block content %}
{% trans %}Hello, world. You're at the core index using Jinja2.{% endtrans %}
{% endblock %}
