{% extends "core/base.jinja" %}

{% block title %}
{% trans %}Login{% endtrans %}
{% endblock %}

{% block content %}

{% if form.errors %}
<p>{% trans %}Your username and password didn't match. Please try again.{% endtrans %}</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated() %}
    <p>{% trans %}Your account doesn't have access to this page. To proceed,
    please login with an account that has access.{% endtrans %}</p>
    {% else %}
    <p>{% trans %}Please login to see this page.{% endtrans %}</p>
    {% endif %}
{% endif %}

<form method="post" action="{{ url('core:login') }}">
{% csrf_token %}
<p>{{ form.username.errors }}<label for="{{ form.username.name }}">{{ form.username.label }}
</label><input id="id_username" maxlength="254" name="username" type="text" autofocus="autofocus" /></p>
<p>{{ form.password.errors }}<label for="{{ form.password.name }}">{{ form.password.label }}</label>{{ form.password }}</p>
<input type="hidden" name="next" value="{{ next }}">
<p><input type="submit" value="{% trans %}login{% endtrans %}"></p>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{{ url('core:password_reset') }}">{% trans %}Lost password?{% endtrans %}</a></p>

{% endblock %}
