{% extends "core/base.jinja" %}

{% block content %}

{% if form.errors %}
<p>{% trans %}Your username and password didn't match. Please try again.{% endtrans %}</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated() %}
    <p>{% trans %}Your account doesn't have access to this page. To proceed,
    please login with an account that has access.{% endtrans %}</p>
    {% else %}
    <p>{% trans %}Please login to see this page.{% endtrans %}</p>
    {% endif %}
{% endif %}

<form method="post" action="{{ url('core:login') }}">
{% csrf_token %}
{{ form.as_p() }}
<input type="hidden" name="next" value="{{ next }}">
<p><input type="submit" value="{% trans %}login{% endtrans %}"></p>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{{ url('core:password_reset') }}">{% trans %}Lost password?{% endtrans %}</a></p>

{% endblock %}
