{% extends "core/page.jinja" %}

{% block head %}
{{ super() }}
<script>
function make_preview() {
    text = $("#id_content").val();
    console.log("Rendering text: " + text);
    $.ajax({
        url: "{{ url('api:api_markdown') }}",
        method: "POST",
        data: { text:  text, csrfmiddlewaretoken: "{{ csrf_token }}"}
    }).done(function (msg) {
        $("#preview").html(msg);
    });
}
</script>
{% endblock %}

{% block page %}
<h2>{% trans %}Edit page{% endtrans %}</h2>
<form action="{{ url('core:page_edit', page_name=page.get_full_name()) }}" method="post">
    {% csrf_token %}
    {{ form.as_p() }}
    <p><input type="button" value="{% trans %}Preview{% endtrans %}" onclick="javascript:make_preview();" /></p>
    <p><input type="submit" value="{% trans %}Save{% endtrans %}" /></p>
</form>
<a href="{{ url('core:page_delete', page_id=page.id)}}">{% trans %}Delete{% endtrans %}</a>
<div id="preview">
</div>
{% endblock %}



