{% extends "core/page.jinja" %}

{% block page %}
  {% if rev %}
    <h4>{% trans rev_id=rev.revision %}This may not be the last update, you are seeing revision {{ rev_id }}!{% endtrans %}</h4>
    <h3>{{ rev.title }}</h3>
    <div class="page_content">{{ rev.content|markdown }}</div>
  {% else %}
    {% if page.revisions.last() %}
      <h3>{{ page.revisions.last().title }}</h3>
      <div class="page_content">{{ page.revisions.last().content|markdown }}</div>
    {% endif %}
  {% endif %}
{% endblock %}



