{% extends "core/page.jinja" %}

{% from "core/macros_pages.jinja" import page_history %}

{% block page %}
  <h3>{% trans %}Page history{% endtrans %}</h3>
  {{ page_history(page) }}
{% endblock %}




