{% extends "core/page.html" %}

{% block page %}
    <h3>Page history</h3>
    <p><a href="{% url 'core:page' page.get_full_name %}">Back to page</a></p>
    <p>You're seeing the history of page <strong>{{ page.get_display_name }}</strong></p>
    <ul>
        <li><a href="{% url 'core:page' page_name=page.get_full_name %}">
            last - {{ page.revisions.last.author }} - {{ page.revisions.last.date }}</a></li>
        {% for r in page.revisions.all|dictsortreversed:'date'|slice:'1:' %}
        <li><a href="{% url 'core:page_rev' page_name=page.get_full_name rev=r.id %}">
            {{ r.author }} - {{ r.date }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}




