{% extends "core/base.html" %}

{% block title %}
    {% if page %}
        {{ page.get_display_name }}
    {% elif page_list %}
        Page list
    {% else %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if page %}
        <h3>Page</h3>
        <p><a href="{% url 'core:page_list' %}">Back to list</a></p>
        {% if user.is_superuser %}
            <p><a href="{% url 'core:page_edit' page.name %}">Edit</a></p>
        {% endif %}
        <p>You're seeing the page <strong>{{ page.get_display_name }}</strong></p>
        <h3>{{ page.title }}</h3>
        <p>{{ page.content }}</p>
    {% elif page_list %}
        <h3>Page list</h3>
        <ul>
            {% for p in page_list %}
                <li><a href="{% url 'core:page' p.name %}">{{ p.get_display_name }}</a></li>
            {% endfor %}
        </ul>
    {% elif new_page %}
        <h2>{{ title }}</h2>
        <p><a href="{% url 'core:page_edit' new_page %}">Create it?</a></p>
    {% elif page_form %}
        <h2>Edit page</h2>
        <form action="{% url 'core:page_edit' page_name=page_name %}" method="post">
            {% csrf_token %}
            {{ page_form }}
            <p><input type="submit" value="Save!" /></p>
        </form>
    {% else %}
        There is no page in this website.
    {% endif %}
{% endblock %}


