{% extends "core/base.jinja" %}

{% block content %}

<form method="post" action="{{ url('core:password_change') }}">
{% csrf_token %}
{{ form.as_p() }}
<input type="submit" value="{% trans %}Change{% endtrans %}" />
</form>
{% endblock %}
