{% extends "core/base.jinja" %}

{% block content %}
  <form method="post" action="">
    {% csrf_token %}
    {% render_honeypot_field %}
    {{ form.as_p() }}
    <input type="submit" value="{% trans %}Reset{% endtrans %}" />
  </form>
{% endblock %}
