{% extends "core/base.jinja" %}

{% block content %}

  {% if target %}
    <p>{% trans user=target.get_display_name() %}Change password for {{ user }}{% endtrans %}</p>
  {% endif %}
  <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p() }}
    <input type="submit" value="{% trans %}Change{% endtrans %}" />
  </form>
{% endblock %}
