{% extends "core/base.jinja" %}

{% block content %}
<p>{% trans %}You successfully reset your password!{% endtrans %}</p>
<a href="{{ url('core:login') }}">{% trans %}Login{% endtrans %}</a>
{% endblock %}


