{% extends "core/base.jinja" %}

{% block content %}
  {% if form %}
    <form method="post" action="">
      {% csrf_token %}
      {{ form.as_p() }}
      <input type="submit" value="{% trans %}Reset{% endtrans %}" />
    </form>
  {% else %}
    {% trans %}It seems that this link has expired. To generate a new link, you can follow this link: {% endtrans %}<a href="{{ url('core:password_change') }}">{% trans %}lost password{% endtrans %}</a>.
  {% endif %}
{% endblock %}

