{% extends "core/base.jinja" %}

{% block title %}
{% trans %}Poster{% endtrans %}
{% endblock %}

{% block content %}
<div id="poster_edit">

    <div id="title">
        <div id="links" class="left">
            <a id="list" class="link" href="{{ url(poster_list_url_name) }}">{% trans %}List{% endtrans %}</a>
        </div>
        <h3>{% trans %}Posters - edit{% endtrans %}</h3>
        <div id="links" class="right">
            <a class="link delete" href="{{ url("com:poster_delete", poster.id) }}">{% trans %}Delete{% endtrans %}</a>
        </div>
    </div>

    <div id="poster">

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p() }}
            <p><input type="submit" value="{% trans %}Save{% endtrans %}" /></p>
        </form>


    </div>

</div>
{% endblock %}



