{% autoescape off %}
{% trans %}You're receiving this email because you created an account on the AE website.{% endtrans %}

{% trans %}Your username, in case it was not given to you: {% endtrans %} {{ username }}

{% trans %}
As this is the website of the students of the AE, by the students of the AE,
for the students of the AE, you won't be able to do many things without subscribing to the AE.
To make a contribution, contact a member of the association's board, either directly or by email at ae@utbm.fr.
{% endtrans %}

{% trans %}Wishing you a good experience among us! {% endtrans %}

{% trans %}The AE team{% endtrans %}

{% endautoescape %}

