{% extends "core/base.jinja" %}

{%- block additional_css -%}
  <link rel="stylesheet" href="{{ static('user/login.scss') }}">
{%- endblock -%}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block nav %}
{% endblock %}

{% block info_boxes %}
{% endblock %}

{% block content %}
  <h1 class="title">{% trans %}Register{% endtrans %}</h1>

  <form action="{{ url('core:register') }}" method="post">
    {% csrf_token %}
    {% render_honeypot_field %}
    {% for field in form %}
      {% if field.name not in ["cgu_approved", "captcha"] %}
        <div>{{ field.as_field_group() }}</div>
      {% endif %}
    {% endfor %}
    <div class="captcha">{{ form.captcha.as_field_group() }}</div>
    <div class="form-group">
      {{ form.cgu_approved.errors }}
      {{ form.cgu_approved }}
      {{ form.cgu_approved.label_tag() }}
    </div>
    <input type="submit" class="btn btn-blue" value="{% trans %}Register{% endtrans %}" />
  </form>
{% endblock %}
