{% extends "core/base.jinja" %}

{%- block additional_css -%}
    <link rel="stylesheet" href="{{ scss('core/override.scss') }}">
    <link rel="stylesheet" href="{{ scss('user/login.scss') }}">
{%- endblock -%}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block content %}
    <h1 class="title">{% trans %}Register{% endtrans %}</h1>

    {% if user_registered %}
        {% trans user_name=user_registered.get_display_name() %}Welcome {{ user_name }}!{% endtrans %}<br>
        {% trans %}You successfully registred and you will soon receive a confirmation mail.{% endtrans %}<br>
        {% trans username=user_registered.username %}Your username is {{ username }}.{% endtrans %}<br>
    
    {% else %}
        <form action="{{ url('core:register') }}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="{% trans %}Register{% endtrans %}" />
        </form>
    {% endif %}
{% endblock %}
 
{% block additional_js %}
    <script defer>
        $(() => {
            $("#info_boxes").remove();
            $("#page > nav").remove();
            $("#quick_notif").remove();
        })
    </script>
{% endblock %}
