{% extends "core/base.jinja" %}

{%- block additional_css -%}
  <link rel="stylesheet" href="{{ static('user/login.scss') }}">
{%- endblock -%}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block nav %}
{% endblock %}

{% block info_boxes %}
{% endblock %}

{% block content %}
  <h1 class="title">{% trans %}Register{% endtrans %}</h1>

  <form action="{{ url('core:register') }}" method="post">
    {% csrf_token %}
    {% render_honeypot_field %}
    {{ form }}
    <input type="submit" value="{% trans %}Register{% endtrans %}" />
  </form>
{% endblock %}
