{% extends "core/base.jinja" %}

{% from "core/macros.jinja" import user_link_with_pict %}

{% block title %}
    {% trans %}Search result{% endtrans %}
{% endblock %}

{% block content %}
    <h4>{% trans %}Users{% endtrans %}</h4>
    <ul>
    {% for i in result.users %}
        <li>
        {{ user_link_with_pict(i) }}
        </li>
    {% endfor %}
    </ul>
    <h4>{% trans %}Clubs{% endtrans %}</h4>
    <ul>
    {% for i in result.clubs %}
        <li>
        <a href="{{ url("club:club_view", club_id=i.id) }}">{{ i }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
