{% extends "core/base.jinja" %}

{% from "core/macros.jinja" import user_link_with_pict %}

{% block title %}
  {% trans %}Search result{% endtrans %}
{% endblock %}

{% block content %}
  <h4>{% trans %}Users{% endtrans %}</h4>
  <ul>
    {% for user in users %}
      <li>
        {{ user_link_with_pict(user) }}
      </li>
    {% endfor %}
  </ul>
  <h4>{% trans %}Clubs{% endtrans %}</h4>
  <ul>
    {% for club in clubs %}
      <li>
        <a href="{{ url("club:club_view", club_id=club.id) }}">{{ club }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
