{% extends "core/base.jinja" %}

{%- block additional_css -%}
  <link rel="stylesheet" href="{{ static('user/user_preferences.scss') }}">
{%- endblock -%}

{% block title %}
  {% trans %}Preferences{% endtrans %}
{% endblock %}

{% block content %}
  <div class="main">
    <h2>{% trans %}Preferences{% endtrans %}</h2>
    <h3>{% trans %}General{% endtrans %}</h3>
    <form class="form form-general" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p() }}
      <input class="form-submit-btn" type="submit" value="{% trans %}Save{% endtrans %}" />
    </form>

    <h3>{% trans %}Trombi{% endtrans %}</h3>

    {% if trombi_form %}
      <form class="form form-trombi" action="{{ url('trombi:user_tools') }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ trombi_form.as_p() }}
        <input class="form-submit-btn" type="submit" value="{% trans %}Save{% endtrans %}" />
      </form>

    {% else %}
      <p>{% trans trombi=user.trombi_user.trombi %}You already choose to be in that Trombi: {{ trombi }}.{% endtrans %}
        <br />
        <a href="{{ url('trombi:user_tools') }}">{% trans %}Go to my Trombi tools{% endtrans %}</a>
      </p>
    {% endif %}


    {% if profile.customer %}
      <h3>{% trans %}Student cards{% endtrans %}</h3>

      <p class="justify">
        {% trans %}You can add a card by asking at a counter or add it yourself here. If you want to manually
          add a student card yourself, you'll need a NFC reader. We store the UID of the card which is 14 characters long.{% endtrans %}
      </p>
      <div
        hx-get="{{ url('counter:add_student_card', customer_id=profile.customer.pk) }}"
        hx-trigger="load"
        hx-swap="outerHTML"
      >
        <div aria-busy="true" style="min-height: 100px;"></div>
      </div>
    {% endif %}
  </div>
{% endblock %}