{% extends "core/base.jinja" %}

{% block content %}
<h2>{% trans %}Edit user profile{% endtrans %}</h2>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p() }}
    <p><input type="submit" value="{% trans %}Update{% endtrans %}" /></p>
</form>
{% if form.instance == user %}
<p><a href="{{ url('core:password_change') }}">{% trans %}Change my password{% endtrans %}</a></p>
{% endif %}
{% endblock %}




