{% extends "core/user_base.jinja" %}

{% block title %}
{% trans user_name=profile.get_display_name() %}{{ user_name }}'s account{% endtrans %}
{% endblock %}

{% block infos %}
{% if customer %}
<h3>{% trans %}User account{% endtrans %}</h3>
<p>{% trans %}Amount: {% endtrans %}{{ customer.amount }} €</p>
{% if customer.refillings.exists() %}
<h4>{% trans %}Refillings{% endtrans %}</h4>
<table>
    <thead>
        <tr>
            <td>{% trans %}Date{% endtrans %}</td>
            <td>{% trans %}Counter{% endtrans %}</td>
            <td>{% trans %}Barman{% endtrans %}</td>
            <td>{% trans %}Amount{% endtrans %}</td>
            <td>{% trans %}Payment method{% endtrans %}</td>
        </tr>
    </thead>
    <tbody>
    {% for i in customer.refillings.order_by('-date').all() %}
        <tr>
        <td>{{ i.date|localtime|date(DATETIME_FORMAT) }} - {{ i.date|localtime|time(DATETIME_FORMAT) }}</td>
        <td>{{ i.counter }}</td>
        <td><a href="{{ i.operator.get_absolute_url() }}">{{ i.operator.get_display_name() }}</a></td>
        <td>{{ i.amount }} €</td>
        <td>{{ i.get_payment_method_display() }}</td>
        {% if i.is_owned_by(user) %}
            <td><a href="{{ url('counter:refilling_delete', refilling_id=i.id) }}">Delete</a></td>
        {% endif %}
    </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}
{% if customer.buyings.exists() %}
<h4>{% trans %}Account buyings{% endtrans %}</h4>
<table>
    <thead>
        <tr>
            <td>{% trans %}Date{% endtrans %}</td>
            <td>{% trans %}Counter{% endtrans %}</td>
            <td>{% trans %}Barman{% endtrans %}</td>
            <td>{% trans %}Label{% endtrans %}</td>
            <td>{% trans %}Quantity{% endtrans %}</td>
            <td>{% trans %}Total{% endtrans %}</td>
            <td>{% trans %}Payment method{% endtrans %}</td>
        </tr>
    </thead>
    <tbody>
    {% for i in customer.buyings.order_by('-date').all() %}
        <tr>
        <td>{{ i.date|localtime|date(DATETIME_FORMAT) }} - {{ i.date|localtime|time(DATETIME_FORMAT) }}</td>
        <td>{{ i.counter }}</td>
        <td><a href="{{ i.seller.get_absolute_url() }}">{{ i.seller.get_display_name() }}</a></td>
        <td>{{ i.label }}</td>
        <td>{{ i.quantity }}</td>
        <td>{{ i.quantity * i.unit_price }} €</td>
        <td>{{ i.get_payment_method_display() }}</td>
        {% if i.is_owned_by(user) %}
            <td><a href="{{ url('counter:selling_delete', selling_id=i.id) }}">Delete</a></td>
        {% endif %}
    </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}
{% if customer.user.invoices.exists() %}
<h4>{% trans %}Eboutic invoices{% endtrans %}</h4>
<table>
    <thead>
        <tr>
            <td>{% trans %}Date{% endtrans %}</td>
            <td>{% trans %}Items{% endtrans %}</td>
            <td>{% trans %}Amount{% endtrans %}</td>
        </tr>
    </thead>
    <tbody>
    {% for i in customer.user.invoices.order_by('-date').all() %}
        <tr>
        <td>{{ i.date|localtime|date(DATETIME_FORMAT) }} - {{ i.date|localtime|time(DATETIME_FORMAT) }}</td>
        <td>
            <ul>
                {% for it in i.items.all() %}
                <li>{{ it.quantity }} x {{ it.product_name }} - {{ it.product_unit_price }} €</li>
                {% endfor %}
            </ul>
        </td>
        <td>{{ i.get_total() }} €</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}
{% else %}
<p>{% trans %}User has no account{% endtrans %}</p>
{% endif %}
{% endblock %}



