{% extends "core/user_base.jinja" %}

{% block title %}
{% trans user_name=profile.get_display_name() %}{{ user_name }}'s profile{% endtrans %}
{% endblock %}

{% block infos %}

<div id="user_profile">
    <div id="pictures">
        {% if profile.profile_pict %}
        <img src="{{ profile.profile_pict.get_download_url() }}" alt="{% trans %}Profile{% endtrans %}" />
        {% endif %}
        <p><em>{{ profile.quote }}</em></p>
    </div>
    <h4>{{ profile.get_full_name() }}</h4>
    <p id="nickname">&laquo; {{ profile.nick_name }} &raquo;</p>
    <p>{% trans %}Born: {% endtrans %}{{ profile.date_of_birth|date("d/m/Y") }}</p>
    <p>{{ profile.department }}{{ profile.semester }}
    {% if profile.dpt_option %}
    <br>{% trans %}Option: {% endtrans %}{{ profile.dpt_option }}
    {% endif %}
    </p>
    {% if profile.promo %}
    <p><img src="{{ static('core/img/promo_%02d.png' % profile.promo) }}" alt="Promo {{ profile.promo }}" class="promo_pict" />
    {% trans %}Promo: {% endtrans %}{{ profile.promo }}</p>
    {% endif %}
</div>

{% if user.membership.filter(end_date=None).exists() or user.is_in_group(settings.SITH_MAIN_BOARD_GROUP) %}
{# if the user is member of a club, he can view the subscription state #}
<p>
{% if get_subscriber(profile).is_subscribed() %}
{% trans subscription_end=get_subscriber(profile).subscriptions.last().subscription_end %}User is subscriber until {{ subscription_end }}{% endtrans %}
{% else %}
{% trans %}User is not subscribed. {% endtrans %}
<a href="{{ url('subscription:subscription') }}?member={{ profile.id }}">{% trans %}New subscription{% endtrans %}</a>
{% endif %}
</p>
{% endif %}

{% endblock %}


