{% extends "core/base.jinja" %}

{%- block additional_css -%}
  <link rel="stylesheet" href="{{ scss('user/user_godfathers.scss') }}">
{%- endblock -%}

{% block additional_js %}
  <script src="{{ static("vendored/cytoscape/cytoscape.min.js") }}" defer></script>
  <script type="module" defer>
    import cxtmenu from '{{ static("vendored/cytoscape/cytoscape-cxtmenu.min.js") }}';
  </script>
  <script src="{{ static("user/js/family_graph.js") }}" defer></script>
{% endblock %}

{% block title %}
  {% trans user_name=profile.get_display_name() %}{{ user_name }}'s family tree{% endtrans %}
{% endblock %}

{% block content %}
  <div x-data="graph" :aria-busy="loading">
    <div class="graph-toolbar">
      <div class="toolbar-column">
        <div class="toolbar-input">
          <label for="godfather-depth-input">
            {% trans min=0, max=10 %}Max godfather depth between {{ min }} and {{ max }}{% endtrans %}
          </label>
          <span class="depth-choice">
            <i
              class="fa fa-minus fa-xs clickable"
              @click="godfathers_depth = Math.max(0, godfathers_depth - 1)"
            ></i>
            <input
              x-model="godfathers_depth"
              x-ref="godfather_depth_input"
              type="number"
              name="godfathers_depth"
              id="godfather-depth-input"
              min="0"
              max="10"
            />
            <i class="fa fa-plus clickable"
               @click="godfathers_depth = Math.min(10, godfathers_depth + 1)"
            ></i>
          </span>
        </div>

        <div class="toolbar-input">
          <label for="godchild-depth-input">
            {% trans min=0, max=10 %}Max godchildren depth between {{ min }} and {{ max }}{% endtrans %}
          </label>
          <span class="depth-choice">
            <i
              class="fa fa-minus fa-xs clickable"
              @click="godchildren_depth = Math.max(0, godchildren_depth - 1)"
            ></i>
            <input
              x-model="godchildren_depth"
              type="number"
              name="godchildren_depth"
              id="godchild-depth-input"
              min="0"
              max="10"
            />
            <i class="fa fa-plus clickable"
               @click="godchildren_depth = Math.min(10, godchildren_depth + 1)"
            ></i>
          </span>
        </div>
      </div>

      <div class="toolbar-column">
        <div class="toolbar-input">
          <label for="reverse-checkbox">{% trans %}Reverse{% endtrans %}</label>
          <input x-model="reverse" type="checkbox" name="reverse" id="reverse-checkbox">
        </div>
        <button class="btn btn-grey" @click="reset">
          {% trans %}Reset{% endtrans %}
        </button>
        <button class="btn btn-grey" @click="screenshot">
          <i class="fa fa-camera"></i>
          {% trans %}Save{% endtrans %}
        </button>
      </div>
    </div>
    <div x-ref="graph" class="graph"></div>
  </div>

  <script>
    const api_url = "{{ api_url }}";
    const active_user = "{{ object.id }}"
  </script>
{% endblock %}

