{% extends "core/user_base.jinja" %}

{% block title %}
{% trans user_name=profile.get_display_name() %}{{ user_name }}'s stats{% endtrans %}
{% endblock %}

{% block infos %}
    {% if profile.permanencies %}
    <div>
        <h3>Permanencies</h3>
        <p>Total: {{ total_perm_time }}</p>
        <p>Foyer: {{ total_foyer_time }}</p>
        <p>MDE: {{ total_mde_time }}</p>
        <p>La Gommette: {{ total_gommette_time }}</p>
    </div>
    {% endif %}
{% endblock %}


