{% extends "core/base.jinja" %}

{% block title %}
    {{ user.get_display_name() }}'s tools
{% endblock %}

{% block content %}
<h3>User Tools</h3>
<p><a href="{{ url('core:user_profile', user_id=request.user.id) }}">Back to profile</a></p>

<ul>
{% if user.has_perms('core.add_group') %}
    <li><a href="{{ url('core:group_list') }}">Groups</a></li>
{% endif %}
</ul>

{% endblock %}



