{% extends "core/base.jinja" %}

{% block title %}
{% trans %}Preferences{% endtrans %}
{% endblock %}

{% block content %}
<h2>{% trans %}Preferences{% endtrans %}</h2>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p() }}
    <p><input type="submit" value="{% trans %}Save{% endtrans %}" /></p>
</form>
{% if matmat_form %}
<form action="{{ url('matmat:user_tools') }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ matmat_form.as_p() }}
    <p><input type="submit" value="{% trans %}Save{% endtrans %}" /></p>
</form>
{% else %}
<p><a href="{{ url('matmat:user_tools') }}">Matmatronch tools</a></p>
{% endif %}
{% endblock %}



