{% extends "core/base.jinja" %}

{% block title %}
User list
{% endblock %}

{% block content %}
<h3>User list</h3>
<ul>
{% for u in user_list %}
<li><a href="{{ url('core:user_profile', user_id=u.id) }}">{{ u.get_display_name() }}</a></li>
{% endfor %}
</ul>
{% endblock %}

