/* This also requires ajax-select-index.css */
.tomselected {
  .select2-container--default {
    color: black;
  }
}

.ts-dropdown {

  .select-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    img {
      height: 40px;
      width: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.ts-control {

  .item {

    cursor: pointer;
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }

}