/* This also requires ajax-select-index.css */
.ts-dropdown {

  .select-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    img {
      height: 40px;
      width: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.ts-wrapper {
  margin: 5px;
}

.ts-wrapper.plugin-remove_button:not(.rtl) .item .remove {
  border-left: 1px solid #aaa;
}

.ts-wrapper.multi .ts-control {

  [data-value],
  [data-value].active {
    background-image: none;
    cursor: pointer;
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: none;
    box-shadow: none;
  }
}