<form
  hx-trigger="submit"
  hx-post="{{ action }}"
  hx-swap="outerHTML"
>
  {% csrf_token %}
  <div class="margin-bottom">
    {{ form.as_p() }}
  </div>
  <input type="submit" class="btn btn-blue" value="{% trans %}Go{% endtrans %}"/>
</form>
