details.accordion>summary {
  margin: 2px 0 0 0;
  padding: .5em .5em .5em .7em;
  cursor: pointer;
  user-select: none;
  display: block;

  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

details[open].accordion>summary {
  border: 1px solid #003eff;
  background: #007fff;
  color: #ffffff;
}


details:not([open]).accordion>summary {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  color: #454545;
}

details.accordion>summary::before {
  font-family: FontAwesome;
  content: '\f0da';
  margin-right: 5px;
  transition: 700ms;
  font-size: 0.8em;
}

details[open].accordion>summary::before {
  font-family: FontAwesome;
  content: '\f0d7';
}

// ::details-content isn't available on firefox yet
// we use .accordion-content as a workaround
details.accordion>.accordion-content {
  background: #ffffff;
  color: #333333;
  padding: 1em 2.2em;
  border: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  opacity: 0;
  overflow: hidden;
}

details[open].accordion>.accordion-content {
  opacity: 1;
  // Setting a transition on all states of the content
  // will create a strange behavior where the transition
  // continues without being shown, creating inconsistenties
  transition: all 300ms ease-out;
}

// For some reason, it's still not enough for chrome
// We repeat duplicate the transition again but only for chrome
// And since everything with ::details-content crashes firefox
// we put this at the end so it doesn't break the previous code
details.accordion::details-content {
  opacity: 0;
}

details[open].accordion::details-content {
  opacity: 1;
  transition: all 300ms ease-out;
}