@import "colors";
@import "devices";

@media (max-width: $small-devices) {
  footer {
    margin-top: 0.6em;
    padding: 1.25em;
    background-color: $primary-neutral-dark-color;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.25em;

    > div {

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.8em;

      > a {
        color: $white-color !important;
        width: auto;
      }
    }

    > a {
      color: $primary-neutral-color !important;
    }

    .fa-github {
      color: $primary-neutral-color;
    }
  }
}

@media (min-width: $small-devices) {
  footer {
    width: 90%;
    margin: 2em auto;

    font-size: 90%;
    text-align: center;
    vertical-align: middle;

    div {
      margin: 0.6em 0;
      color: $white-color;
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: $primary-neutral-dark-color;
      box-shadow: $shadow-color 0 0 15px;

      a {
        padding: 0.8em;
        flex: 1;
        font-weight: bold;
        color: $white-color !important;

        &:hover {
          color: $primary-dark-color;
        }
      }
    }

    > .version {
      margin-top: 3px;
      color: rgba(0, 0, 0, 0.3);
    }

    .fa-github {
      color: $githubblack;
    }
  }
}