@import "colors";
@import "devices";

footer.bottom-links {
  >section>a {
    text-align: center;
  }

  @media (max-width: $small-devices) {
    margin-top: 0.6em;
    padding: 1.25em;
    background-color: $primary-neutral-dark-color;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.25em;

    >section {

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.8em;

    }

    a {
      color: $white-color;
      width: auto;

      &:hover {
        color: $white-color;
        text-shadow: 0.5px 0.5px 0.5px $shadow-color;
      }
    }

    .fa-github {
      color: $white-color;
    }

    hr {
      width: 100%;
      height: 0px;
      border: none;
      border-top: 0.5px solid $white-color;
    }
  }

  @media (min-width: $small-devices) {
    width: 90%;
    margin: 2em auto;

    font-size: 90%;
    text-align: center;
    vertical-align: middle;

    section:first-of-type {
      margin: 0.6em 0;
      color: $white-color;
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: $primary-neutral-dark-color;
      box-shadow: black 0 8px 15px;

      a {
        color: $white-color;
        width: auto;
        padding: 0.8em;
        flex: 1;
        font-weight: bold;

        &:hover {
          color: $white-color;
          text-shadow: 0.5px 0.5px 0.5px $shadow-color;
        }
      }
    }

    .fa-github {
      color: $githubblack;
    }

    hr {
      border: none;
      height: 5px;
    }
  }
}