$first-color: hsl(220, 100%, 50%);
$second-color: hsl(40, 100%, 50%);
$primary-color: hsl(219.9, 53.7%, 50%);
$secondary-color: hsl(40.1, 78.0%, 50%);
$primary-color-text: hsl(0, 0%, 100%);
$secondary-color-text: hsla(0, 0%, 0%, 0.87);

$primary-light-color: hsl(219.8, 46.4%, 64.9%);
$primary-dark-color: hsl(219.8, 46.4%, 35.1%);

$secondary-light-color: hsl(40, 68%, 65%);
$secondary-dark-color: hsl(40, 68%, 35%);


$primary-neutral-color: hsl(219.6, 20.8%, 50%);
$primary-neutral-light-color: hsl(219.6, 20.8%, 83%);
$primary-neutral-dark-color: hsl(219.6, 20.8%, 17%);

$secondary-neutral-color: hsl(40, 57.6%, 50%);
$secondary-neutral-light-color: hsl(40, 57.6%, 83%);
$secondary-neutral-dark-color: hsl(40, 57.6%, 17%);

$white-color: hsl(219.6, 20.8%, 98%);
$black-color: hsl(40.0, 0%, 17%);

$faceblue: #3B5998;
$twitblue: #55acee;



/*--------------------------------GENERAL------------------------------*/

body {
  background-color: $primary-neutral-light-color;
  position: relative;
  width: 100%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: $primary-dark-color;
  &:hover {
    color: $primary-light-color;
  }
  &:active {
    color: $primary-color;
  }
}

.ib {
  display: inline-block;
  padding: 1px;
  margin: 1px;
}

.w_big {
  width: 75%;
}

.w_medium {
  width: 47%;
}

.w_small {
  width: 23%;
}

/*--------------------------------HEADER-------------------------------*/

#header_language_chooser {
  position: absolute;
  top: 0.2em;
  right: 0.5em;
  width: 3%;
  text-align: center;
  input {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  form {
    display: block;
    margin: 0.2em 0em;
    width: 100%;
  }
}

header {
  width: 90%;
  margin: 0px auto;
  display: flex;
  box-shadow: grey 1px 1px 5px;
  border: solid 1px grey;
  border-top: none;
  background-color: $primary-neutral-dark-color;

  #header_logo {
    display: inline-block;
    flex: none;
    background-size: 100% 100%;
    background-color: $white-color;
    padding: 0.2em;
    a {
      display: inline-block;
      margin: 0px;
      width: 100%;
      height: 100%;
    }
  }

  #header_connect_links {
    margin: 0.6em 0.6em 0em auto;
    color: $white-color;
    form {
      display: inline;
      width: 100%;
      label {
        display: inline;
      }
    }
    a {
      display: button;
    }
  }

  #header_bar {
    display: flex;
    flex: auto;
    width: 80%;

    a {
      text-decoration: none;
      margin: 0em 1em;
      color: $white-color;
      &:hover {
        color: $secondary-color;
      }
    }

    #header_bars_infos {
      width: 35ch;
      flex: initial;
      list-style-type: none;
      margin: 0.2em 0.2em;
    }

    #header_search {
      display: inline-block;
      flex: auto;
      margin: 0.8em 0em;
    }

    #header_user_links {
      display: flex;
      width: 120ch;
      flex: initial;
      text-align: right;
      margin: 0em;
      div {
        display: inline;
        padding: 1.2em 0em;
        &:first-child {
          flex: auto;
        }
      }
      .white {
        background: $white-color;
        a {
          color: $black-color;
        }
      }
      #header_notif {
        display: none;
        position: absolute;
        max-height: 20em;
        width: 22em;
        overflow: auto;
        list-style-type: none;
        box-shadow: grey 1px 1px 5px;
        background: white;
        text-align: left;
        font-size: 80%;
        margin: 1.5em 0em 0em -14em;
        .header_notif_date {
          font-weight: bold;
        }
        .header_notif_time {
          color: grey;
        }
        a {
          margin: 0em;
          color: $black-color;
          &:hover {
            color: $primary-dark-color;
          }
        }
        li {
          padding: 0.2em;
          &:hover {
            background: #bcc;
          }
        }
        li:last-child {
          text-align: center;
          a {
            color: $primary-dark-color;
            &:hover {
              color: $primary-light-color;
            }
          }
        }
      }
    }
  }
}

#popupheader {
  width: 88%;
  margin: 0px auto;
  padding: 0.3em 1%;
}

#info_boxes {
  display: flex;
  width: 90%;
  margin: 1em auto;
  p {
    margin: 0px;
    padding: 0px;
  }
  #alert_box, #info_box {
    font-size: smaller;
    display: inline-block;
    flex: auto;
    padding: 2px;
    margin: 0.2em 1.5%;
    min-width: 10%;
    max-width: 46%;
    min-height: 20px;
    box-shadow: grey 1px 1px 5px;
    &:before {
      float: left;
      margin: 0.2em;
      margin-right: 0.5em;
    }
    .markdown {
      margin-top: 0.5em;
    }
  }
  #info_box {
    border: solid 1px grey;
    background: $white-color;
    &:before {
      font-family: FontAwesome;
      font-size: 4em;
      content: "\f05a";
      color: darkblue;
    }
  }
  #alert_box {
    border: solid 1px grey;
    background: $second-color;
    &:before {
      font-family: FontAwesome;
      font-size: 4em;
      content: "\f06a";
      color: $white-color;
    }
  }
}


#page {
  box-shadow: grey 1px 1px 5px;
  width: 90%;
  margin: 0em auto;
  border: solid 1px grey;

/*---------------------------------NAV---------------------------------*/
  nav {
    display: flex;
    flex-wrap: wrap;
    background-color: $primary-dark-color;
    color: $white-color;
    a {
      flex: auto;
      text-align: center;
      padding: 20px;
      color: $white-color;
      font-style: normal;
      font-weight: bolder;
      text-decoration: none;
      &:hover {
        background: $secondary-neutral-color;
        color: $white-color;
      }
    }
  }

/*--------------------------------CONTENT------------------------------*/
  #quick_notif {
    width: 100%;
    margin: 0px auto;
    list-style-type: none;
    background: $second-color;
    li {
      padding: 10px;
    }
  }


  #content {
    padding: 1em 1%;
    background: $white-color;
    overflow: auto;
  }

  .tool_bar {
    overflow: auto;
    padding: 4px;
    .tools {
      display: flex;
      flex-wrap: wrap;
      float: right;
      background: $white-color;
      border: 1px solid $black-color;
      text-align: center;
      a {
        padding: 10px;
        display: inline-block;
        color: $black-color;
        flex: 1;
        flex-wrap: nowrap;
        white-space: nowrap;
        &.selected_tab {
          background: $second-color;
          color: $black-color;
        }
        &:hover {
          background: $primary-color;
          color: $white-color;
        }
      }
    }
  }

/*---------------------------------NEWS--------------------------------*/
  #news {
    .news_column {
      display: inline-block;
      margin: 0px;
      vertical-align: top;
    }
    #news_admin {
      margin-bottom: 1em;
    }
    #right_column {
      width: 20%;
      float: right;
    }
    #left_column {
      width: 79%;
      h3 {
        background: $second-color;
        box-shadow: grey 2px 2px 2px;
        padding: 0.4em;
        margin: 0em 0em 0.5em 0em;
        text-transform: uppercase;
        font-size: 1.1em;
        border: solid 1px grey;
        &:not(:first-of-type) {
          margin: 2em 0em 1em 0em;
        }
      }
    }

/* AGENDA/BIRTHDAYS */
    #agenda,#birthdays {
      display: block;
      width: 100%;
      background: white;
      box-shadow: grey 2px 2px 2px;
      font-size: 70%;
      border: solid 1px grey;
      margin-bottom: 1em;
      #agenda_title,#birthdays_title {
        margin: 0em;
        padding: 0.5em;
        font-weight: bold;
        font-size: 150%;
        text-align: center;
        text-transform: uppercase;
        border-bottom: solid 1px grey;
        background: $second-color;
      }
      #agenda_content {
        overflow: auto;
        height: 20em;
      }
      #agenda_content,#birthdays_content {
        .agenda_item {
          padding: 0.5em;
          margin-bottom: 0.5em;
          &:nth-of-type(even) {
            background: $secondary-neutral-light-color;
          }
          .agenda_time {
            font-size: 90%;
            color: grey;
          }
          .agenda_item_content {
            p {
              margin-top: 0.2em;
            }
          }
        }
        ul.birthdays_year {
          margin: 0em;
          list-style-type: none;
          font-weight: bold;
          >li {
            padding: 0.5em;
            &:nth-child(even) {
              background: $secondary-neutral-light-color;
            }
          }
          ul {
            margin: 0em;
            margin-left: 1em;
            list-style-type: square;
            list-style-position: inside;
            font-weight: normal;
          }
        }
      }
    }
/* END AGENDA/BIRTHDAYS */

/* EVENTS TODAY AND NEXT FEW DAYS */
    .news_events_group {
      border: solid 1px grey;
      box-shadow: grey 2px 2px 2px;
      margin-left: 1em;
      margin-bottom: 0.5em;
      .news_events_group_date {
        display: table-cell;
        padding: 0.6em;
        vertical-align: middle;
        background: $primary-dark-color;
        color: $white-color;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        font-family: monospace;
        font-size: 1.4em;
        div {
          margin: 0px auto;
          .day {
            font-size: 1.5em;
          }
        }
      }
      .news_events_group_items {
        display: table-cell;
        width: 100%;
        border-left: solid 1px grey;
        .news_event:nth-of-type(odd) {
          background: white;
        }
        .news_event:nth-of-type(even) {
          background: $primary-neutral-light-color;
        }
        .news_event {
          display: block;
          padding: 0.4em;
          &:not(:last-child) {
            border-bottom: 1px solid grey;
          }
          div {
            margin: 0.2em;
          }
          h4 {
            margin-top: 1em;
            text-transform: uppercase;
          }
          .club_logo {
            float: left;
            min-width: 7em;
            margin: 0em;
            margin-right: 1em;
            margin-top: 0.8em;
            img {
              max-height: 6em;
              max-width: 8em;
              display: block;
              margin: 0em auto;
            }
          }
          .news_date {
            font-size: 100%;
          }
          .news_content {
            clear: left;
            .button_bar {
                text-align: right;
              .fb {
                  color: $faceblue;
                }
              .twitter {
                color: $twitblue;
              }
            }
          }
        }
      }
    }
/* END EVENTS TODAY AND NEXT FEW DAYS */

/* COMING SOON */
    .news_coming_soon {
      display: list-item;
      list-style-type: square;
      list-style-position: inside;
      margin-left: 1em;
      padding-left: 0em;
      a {
        font-weight: bold;
        text-transform: uppercase;
      }
      .news_date {
        font-size: 0.9em;
      }
    }
/* END COMING SOON */

/* NOTICES */
    .news_notice {
      margin: 0em 0em 1em 1em;
      padding: 0.4em;
      padding-left: 1em;
      background: lightgrey;
      border: 1px solid grey;
      box-shadow: grey 2px 2px 2px;
      h4 {
        margin: 0em;
      }
      .news_content {
        margin-left: 1em;
      }
    }
/* END NOTICES */

/* CALLS */
    .news_call {
      margin: 0em 0em 1em 1em;
      padding: 0.4em;
      padding-left: 1em;
      background: $secondary-neutral-light-color;
      border: 1px solid grey;
      box-shadow: grey 2px 2px 2px;
      h4 {
        margin: 0em;
      }
      .news_date {
        font-size: 0.9em;
      }
      .news_content {
        margin-left: 1em;
      }
    }
/* END CALLS */

    .news_empty {
      margin-left: 1em;
    }
    .news_date {
      color: grey;
    }
  }
}

#news_details {
  display: inline-block;
  padding: 0.4em;
  width: 80%;
  background: $white-color;
  h4 {
    margin-top: 1em;
    text-transform: uppercase;
  }
  .club_logo {
    display: inline-block;
    text-align: center;
    width: 19%;
    float: left;
    min-width: 10em;
    margin: 0em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    img {
      max-height: 15em;
      max-width: 12em;
      display: block;
      margin: 0em auto;
    }
  }
  .share_button {
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    float: right;
    display: block;
    margin-left: 0.3em;
    &:hover {
      color: lightgrey;
    }
  }

  .facebook {
    background: $faceblue;
  }

  .twitter {
    background: $twitblue;
  }

  .news_meta {
    margin-top: 10em;
    font-size: small;
  }
}

.helptext {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0.5em;
}

h1 {
  font-size: 160%;
  margin-left: 0px;
}

h2 {
  font-size: 150%;
  margin-left: 10px;
}

h3 {
  font-size: 140%;
  margin-left: 20px;
}

h4 {
  font-size: 130%;
  margin-left: 30px;
}

h5 {
  font-size: 120%;
  margin-left: 40px;
}

h6 {
  font-size: 110%;
  margin-left: 50px;
}

p, pre {
  margin-top: 0.8em;
  margin-left: 0px;
}

ul, ol, dl {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 25px;
}

dt {
    margin-top: 25px;
}

code {
  font-family: monospace;
  overflow: auto;
  max-width: 100%;
}

blockquote {
  margin: 5px;
  padding: 2px;
  border: solid 1px $black-color;
}

blockquote h5:first-child {
  font-size: 100%;
}

.edit-bar {
  display: block;
  margin: 4px;
  a {
    display: inline-block;
    margin: 4px;
  }
}

.important {
  font-size: 1.2em;
  font-weight: bold;
  color: red;
}

table {
  width: 100%;
  font-size: 0.90em;
}

td {
  padding: 4px;
  margin: 5px;
  border: solid 1px $primary-neutral-color;
  border-collapse: collapse;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  > ul {
    margin-top: 0px;
  }
}

thead {
  font-weight: bold;
}

tbody > tr {
  &:nth-child(even) {
    background: $primary-neutral-light-color;
  }
  &:hover {
    background: $secondary-neutral-light-color;
    width: 100%;
  }
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

.highlight {
  background: $second-color;
  font-weight: bold;
}

u, .underline {
  text-decoration: underline;
}

#basket {
  width: 40%;
  background: $primary-neutral-light-color;
  float: right;
  padding: 10px;
}

#products {
  width: 90%;
  margin: 0px auto;
  overflow: auto;
}

#bar_ui {
  float: left;
  min-width: 57%;
}

#user_info_container {}

#user_info {
  float: right;
  padding: 5px;
  width: 40%;
  margin: 0px auto;
  background: $secondary-neutral-light-color;
}

/*-----------------------------USER PROFILE----------------------------*/

#user_profile_container {
  width: 80%;
  margin: 0px auto;
}

#user_profile {
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  overflow: auto;
  h4 {
    border-bottom: 1px solid $primary-light-color;
    max-width: 60%;
  }
  #left_column {
    width: 59%;
  }
  #right_column {
    width: 40%;
    float: right;
    font-style: italic;
  }
  #pictures {
    max-width: 250px;
    max-height: 300px;
    margin: 0px auto;
  }
  #nickname {
    font-style: italic;
  }
  #pictures img {
    max-width: 96%;
    max-height: 96%;
  }
  .promo_pict {
    height: 45px;
  }
}

.mini_profile_link {
  display: block;
  text-decoration: none;
  span {
    display: inline-block;
    width: 50px;
    vertical-align: middle;
  }
  em {
    vertical-align: middle;
  }
  img {
    max-width: 40px;
    max-height: 60px;
    margin: 2px auto;
    display: block;
  }
}

#notifications li {
  padding: 5px;
  margin: 2px;
  list-style: none;
}

#moderation {
  div {
    margin: 2px;
    padding: 2px;
    border: solid 1px red;
    text-align: center;
  }
  img {
    width: 500px;
  }
}

#pict {
  display: inline-block;
  width: 80%;
  background: #333;
  border: solid #333 2px;
}

/*---------------------------------PAGE--------------------------------*/

.page_content {
  display: block;
  margin: 10px;
  padding: 10px;
  background: $white-color;
}

textarea {
  width: 98%;
  margin-top: 10px;
}

/*---------------------------LAUNDERETTE-------------------------------*/

#token_form label {
  display: inline;
}

/*------------------------------FORUM----------------------------------*/

#forum {
  .topic {
    border: solid $primary-neutral-color 1px;
    padding: 1px;
    margin: 1px;
    p {
      margin: 1px;
      font-size: smaller;
    }
    a {
      color: $black-color;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .tools {
    font-size: x-small;
    border: none;
    a {
      padding: 1px;
    }
  }

  .title {
    font-size: small;
    font-weight: bold;
    padding: 2px;
  }

  .last_message date {
    white-space: nowrap;
  }

  .last_message span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    width: 100%;
    display: block;
  }

  .forum {
    background: $primary-neutral-light-color;
    padding: 1px;
    margin: 1px;
    p {
      margin: 1px;
      font-size: smaller;
    }
    a {
      color: $black-color;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .category {
    margin-top: 5px;
    background: $secondary-color;
    .title {
      text-transform: uppercase;
    }
  }

  .message {
    padding: 1px;
    margin: 1px;
    background: $white-color;
    &:nth-child(odd) {
      background: $primary-neutral-light-color;
    }
    .title {
      font-size: 100%;
    }
    &.unread {
      background: $secondary-neutral-light-color;
    }
  }

  .msg_author.deleted {
    background: #ffcfcf;
  }

  .msg_content {
    &.deleted {
      background: #ffefef;
    }
    display: inline-block;
    width: 80%;
    vertical-align: top;
  }

  .msg_author {
    display: inline-block;
    width: 19%;
    text-align: center;
    background: $primary-light-color;
    img {
      max-width: 70%;
      margin: 0px auto;
    }
  }

  .msg_header {
    display: inline-block;
    width: 100%;
    font-size: small;
  }

  .msg_meta {
    font-size: small;
    list-style-type: none;
    li {
      padding: 1px;
      margin: 1px;
    }
  }

  .forum_signature {
    color: #C0C0C0;
    border-top: 1px solid #C0C0C0;
    a {
      color: #C0C0C0;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*------------------------------SAS------------------------------------*/

.album {
  display: inline-block;
  border: solid 1px $black-color;
  text-align: center;
  padding: 5px;
  width: 200px;
  height: 140px;
  background: #eee;
  box-shadow: black 2px 2px 10px;
  margin: 10px;
  vertical-align: top;
  img {
    max-height: 100px;
  }
}

.picture {
  display: inline-block;
  border: solid 1px $black-color;
  width: 150px;
  height: 100px;
  margin: 5px;
  background: #eee;
  box-shadow: grey 2px 2px 5px;
  padding: 2px;
  vertical-align: middle;
  img {
    max-width: 100%;
    max-height: 100px;
    display: block;
    margin: auto;
  }
}

.not_moderated {
  border: solid 1px red;
  box-shadow: red 2px 2px 10px;
}

/*--------------------------------FOOTER-------------------------------*/

footer {
  width: 90%;
  margin: 2em auto;

  font-size: 80%;
  text-align: center;
  vertical-align: middle;
  div {
    margin: 0.6em 0em;
    color: $white-color;
    display: flex;
    background-color: $primary-neutral-dark-color;
    box-shadow: grey 1px 1px 5px;
    border: solid 1px grey;
    a {
      padding: 0.8em;
      flex: 1;
      color: $white-color;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}

/*---------------------------------FORMS-------------------------------*/

form {
  margin: 0px auto;
  width: 60%;
}

label {
  display: block;
}

.choose_file_widget {
  display: none;
}

.ui-dialog .ui-dialog-buttonpane {
  bottom: 0px;
  position: absolute;
  width: 97%;
}

#user_edit {
  * {
    text-align: center;
  }
  img {
    width: 100px;
  }
}

#cash_summary_form label, .inline {
  display: inline;
}

.form_button {
  width: 150px;
  height: 120px;
  padding: 2px;
  display: inline-block;
  font-size: 0.8em;
  span {
    width: 70px;
    float: right;
  }
  img {
    max-width: 50px;
    max-height: 50px;
    float: left;
  }
  strong {
    font-weight: bold;
    font-size: 1.2em;
  }
  button {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

/*-------------------------------MARKDOWN------------------------------*/

.markdown {
  margin: 0px;
  padding: 0px;
  code {
    font-family: monospace;
    color: $white-color;
    background: $black-color;
    display: inline-block;
    padding: 4px;
    line-height: 120%;
  }
  a {
    color: $primary-dark-color;
  }
  a:hover {
    text-decoration: underline;
  }
}

.markdown_editor {
  margin-top: 5px;
}

.markdown_editor a {
  border: solid 1px $black-color;
  padding: 2px;
  min-width: 1em;
  display: inline-block;
  text-align: center;
  margin: 0px 1px;
}

.markdown_editor a:hover {
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px $secondary-light-color;
  transition: all 0.1s linear;
}

/*--------------------------------JQuery-------------------------------*/

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header
.ui-state-active, a.ui-button:active, .ui-button:active,
.ui-button.ui-state-active:hover {
  background: $primary-color;
  border-color: $primary-color;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-top,
.ui-corner-left {
  border-radius: 0px;
}

#club_detail {
  .club_logo {
    float: right;
    img {
      display: block;
      max-height: 10em;
      max-width: 10em;
    }
  }

}
