@import "colors";

.tooltip {
  @include shadow;
  z-index: 1;
  pointer-events: none;
  background-color: #333;
  color: #fff;
  border: 0.5px solid hsl(0, 0%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  opacity: 0;
  transition: opacity 500ms ease-out;
  width: max-content;
  white-space: normal;

  left: 0;
  top: 0;
}

.tooltip[tooltip-status=open] {
  opacity: 1;
  transition: opacity 500ms ease-in;
}