@import "core/static/core/devices";
@import "core/static/core/colors";


$pedagogy-orange: #ea7900;
$pedagogy-white-text: #f0f0f0;

.pedagogy {
  .star-not-checked {
    color: lightgray;
    margin-bottom: 0;
    margin-top: 0;
  }

  .star-checked {
    color: $pedagogy-orange;
    margin-bottom: 0;
    margin-top: 0;
  }

  #ue-list {
    font-size: 1.1em;

    overflow-wrap: break-word;

    .closed td.title {
      color: lighten($black-color, 10%);
      font-style: italic;
    }

    td {
      text-align: center;
      border: none;
    }
  }

  #search_form {
    .radio-guide fieldset {
      input[type="checkbox"] {
        display: none;
      }
      margin-top: 10px;
      margin-bottom: 0;
      color: white;

      label {
        padding: 10px 20px;
      }

      input[type="checkbox"]:checked+label {
        background-color: $pedagogy-orange;
        @include shadow;
      }
    }
  }

  &#ue_detail {
    .ue-infos {
      display: flex;
      gap: 2em;
      flex-direction: row;
      @media screen and (max-width: 700px) {
        flex-direction: column;
      }
    }
    .infos-column {
      display: flex;
      flex-direction: column;
      gap: 1em;
      min-width: 300px;
    }
    .info-container {
      // Darken the background color just enough to make this part
      // stand out a little, while not being too perceptible
      background: darken($white-color, 1%);
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-radius: 5px;
      padding: .75rem 1rem ;
      grid-gap: .5rem;
      @include shadow;

      .info-container-item {
        display: grid;
        grid-column: span 2;
        grid-template-rows: subgrid;
        grid-template-columns: subgrid;
        grid-column-gap: 1rem;

        div {
          display: flex;
          align-items: center;
        }

        :first-child {
          justify-content: right;
          text-align: right;
        }
      }

      hr {
        grid-column: span 2;
        width: 50%;
        margin: auto;
      }
    }

    #leave_comment {
      .comment-form-content {
        display: flex;
        gap: 2em;

        @media screen and (max-width: $large-devices) {
          gap: 1em;
          flex-direction: column;
        }
      }
      .form-stars {
        flex: 1;
        min-width: 250px;
        display: flex;
        align-content: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem 2em;
        height: unset;
      }
      .form-comment {
        flex: 2;
      }

      .ui-accordion-header-icon {
        color: $pedagogy-white-text;
        margin-right: 10px;
      }

      input[type="submit"] {
        display: block;
        margin-left: auto;
      }

      summary {
        background: $pedagogy-orange;
        color: $pedagogy-white-text;
        @media screen and (min-width: $large-devices) {
          clip-path: polygon(0 0%, 0 100%, 30% 100%, 33% 0);
        }
      }
    }

    .ue-infos {
      grid-area: ue-infos;
      padding-left: 10px;
    }

    .comment {
      padding: 15px;
      margin: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: $primary-neutral-light-color;
      border-radius: 5px;
      border: 1px darken($secondary-neutral-light-color, 10%) solid;

      &.reported {
        border: #fc8181 1px solid;
      }

      .comment-header {
        display: flex;
        gap: 20px;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        .comment-metadata {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .comment-options {
          flex: 2;
          display: flex;
          justify-content: right;
          gap: 15px;
        }
      }

      .comment-stars {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1em 2em;
        padding: 2em;
        border-top: 0.0625rem grey dotted;
        border-bottom: 0.0625rem grey dotted;
      }

      .comment-content {
        padding: 0 20px;
      }
    }
  }
}
