<script-once src="{{ statics.js }}" defer></script-once>
{% for css in statics.csss %}
  <link-once rel="stylesheet" type="text/css" href="{{ css }}" defer></link-once>
{% endfor %}

<{{ component }} name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
  <optgroup label="{{ group_name }}">{% endif %}{% for widget in group_choices %}
    {% include widget.template_name %}{% endfor %}{% if group_name %}
      </optgroup>{% endif %}{% endfor %}
</{{ component }}>