.form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 5px;

  &-general {
    > p {
      display: flex;
      flex-direction: row-reverse;
      justify-content: left;
      align-items: center;
      gap: 5px;
      margin: 0;

      > label {
        cursor: pointer;
        margin: 0;
      }
    }
  }
}

.justify {
  text-align: justify;
}

.main {
  padding: 10px;
}

.no-cards,
.student-cards {
  margin-top: 10px;
  display: block;
}
