main {
  box-sizing: border-box;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;

  > div {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .05);
    width: 210px;

    > h4 {
      text-align: center;
    }

    > ul {
      list-style-type: none;
      margin: 20px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      > .rows {
        display: flex;
        flex-direction: column;
        gap: 5px;

        > span {
          margin-top: 5px;
        }
      
        > span > span,
        > span {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 5px;
          width: 100%;
      
          >.button {
            font-size: smaller;
            width: 100%;
            margin: 0;
          }

          > span {
            display: flex;
            flex-direction: row;
            width: 100%;

            > .button {
              width: 100%;
            }
          }
        }

        > span > span {
          flex-wrap: nowrap;
        }
      }

      > .counter {
        background-color: rgba(0, 0, 0, .05);
        border-radius: 5px;
        padding: 10px;

        @media (max-width: 550px) {
          background-color: rgba(0, 0, 0, .1);
        }
      }
    }
  }

  @media (max-width: 550px) {
    >div {
      width: 100%;
      background-color: transparent;

      >h4 {
        text-align: left;
      }
    }
  }
}