.form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 5px;

  &-general {
    > p {
      display: flex;
      flex-direction: row-reverse;
      justify-content: left;
      align-items: center;
      gap: 5px;
      margin: 0;

      > label {
        cursor: pointer;
        margin: 0;
      }
    }
  }

  &-cards,
  &-trombi {
    >p {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: justify;
      gap: 5px;
      margin: 0;

      >input,
      >select {
        min-width: 300px;
      }
    }
  }

  &-submit-btn {
    margin-top: 10px !important;
    max-width: 100px;
  }
}

.justify {
  text-align: justify;
}

.main {
  padding: 10px;
}

.no-cards,
.student-cards {
  margin-top: 10px;
  display: block;
}
