@media (max-width: 750px) {
  .title {
    text-align: center;
  }
}

.profile {
  &-visible {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
  }

  &-pictures {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    align-items: stretch;

    @media (max-width: 750px) {
      flex-direction: column;
      gap: 10px
    }
  }

  &-picture {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 100%;
    max-width: 300px;
    margin-top: 10px;

    @media (max-width: 750px) {
      max-width: 100%;
      padding: 10px 10px 0;
    }

    .camera-error {
      background-color: gray;
      color: white;
      min-width: 100%;
    }

    &-display {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 300px;
      gap: 10px;

      @media (max-width: 750px) {
        height: auto;
      }

      > img, > video {
        width: 100% !important;
        object-fit: cover;
        height: 100% !important;
        max-height: 100%;
      }

      > p {
        text-align: left !important;
        width: 100% !important;
      }
    }

    &-edit {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      > div {
        max-width: 100%;

        @media (min-width: 750px) {
          height: auto;
          align-items: center;
          display: inline-flex;
          overflow: hidden;

          > input {
            font-size: .6em;

            &::file-selector-button {
              height: 30px;
            }
          }
        }

      }

      > p {
        margin-bottom: 10px;
        text-align: left !important;
        min-height: 50px;
      }
    }
  }

  &-fields {
    padding: 10px 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  &-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 330px;
    min-width: 300px;

    @media (max-width: 750px) {
      gap: 4px;
      max-width: 100%;
    }

    > * {
      width: 100%;
      max-width: 300px;

      @media (max-width: 750px) {
        max-width: 100%;
      }
    }

    &-label {
      text-align: left !important;
    }

    &-content {
      > * {
        box-sizing: border-box;
        text-align: left !important;
        margin: 0;

        > * {
          text-align: left !important;
        }
      }
    }

    textarea {
      height: 7rem;
    }
    .final-actions {
      text-align: center;
    }
  }
}