<section
  hx-get="{{ url("pedagogy:ue_comments", ue_id=object.id) }}"
  hx-swap="outerHTML"
  hx-target="this"
  hx-trigger="NewComment from:body"
>
  {% if comments %}
    <h2>{% trans %}Comments{% endtrans %}</h2>
    <br>
  {% endif %}

  {% for comment in comments %}
    {% include "pedagogy/fragments/ue_comment.jinja" %}
  {% endfor %}
</section>


