<div class="leave-comment">
  {% if form.is_creation %}
    <details class="accordion" id="leave_comment" {% if form.errors %}open{% endif %}>
      <summary>{% trans %}Leave comment{% endtrans %}</summary>
      <div class="accordion-content">
  {% endif %}
  <form
    hx-post="{{ action }}"
    hx-target="closest .leave-comment"
    hx-swap="outerHTML"
    hx-disabled-elt="find input[type='submit']"
  >
    {% csrf_token %}
    {{ form.non_field_errors() }}
    {{ form.author.errors }}
    {{ form.ue.errors }}

    {{ form.author }}
    {{ form.ue }}
    <div class="comment-form-content">
      <div class="form-stars">
        <fieldset>
          <legend>{{ form.grade_global.label }} :</legend>
          {{ form.grade_global.errors }}
          {{ form.grade_global }}
        </fieldset>
        <fieldset>
          <legend>{{ form.grade_utility.label }} :</legend>
          {{ form.grade_utility.errors }}
          {{ form.grade_utility }}
        </fieldset>
        <fieldset>
          <legend>{{ form.grade_interest.label }} :</legend>
          {{ form.grade_interest.errors }}
          {{ form.grade_interest }}
        </fieldset>
        <fieldset>
          <legend>{{ form.grade_teaching.label }} :</legend>
          {{ form.grade_teaching.errors }}
          {{ form.grade_teaching }}
        </fieldset>
        <fieldset>
          <legend>{{ form.grade_work_load.label }} :</legend>
          {{ form.grade_work_load.errors }}
          {{ form.grade_work_load }}
        </fieldset>
      </div>
      <div class="form-comment">
        <label for="{{ form.comment.id_for_label }}">{{ form.comment.label }} :</label>
        {{ form.comment.errors }}
        {{ form.comment }}
      </div>
    </div>
    <p><input type="submit" class="btn btn-blue"/></p>
  </form>

  {% if form.is_creation %}
    </div>
    </details>
  {% endif %}

  <br>

</div>
