<footer class="bottom-links">
  <section>
    <a href="{{ url('core:page', 'contacts') }}">{% trans %}Contacts{% endtrans %}</a>
    <a href="{{ url('core:page', 'legals') }}">{% trans %}Legal notices{% endtrans %}</a>
    <a href="{{ url('core:page', 'copyright_agent') }}">{% trans %}Intellectual property{% endtrans %}</a>
    <a href="{{ url('core:page', 'docs') }}">{% trans %}Help & Documentation{% endtrans %}</a>
    <a href="{{ url('core:page', 'rd') }}">{% trans %}R&D{% endtrans %}</a>
  </section>
  <hr>
  <section>
    <a rel="nofollow" href="https://github.com/ae-utbm/sith" target="#">
      <i class="fa-brands fa-github"></i>
      {% trans %}Site created by the IT Department of the AE{% endtrans %}
    </a>
  </section>
</footer>