{% if list_of_tabs %}
  <div class="tool_bar">
    <div class="tools">
      {% for t in list_of_tabs -%}
        <a href="{{ t.url }}" {%- if current_tab==t.slug %} class="selected_tab" {%- endif -%}>{{ t.name }}</a>
      {%- endfor %}
    </div>
  </div>
{% endif %}
