{% extends "core/base.jinja" %}

{% block content %}
    <h2>{% trans %}Club members{% endtrans %}</h2>
    <ul>
        {% for m in club.members.all() %}
        <li>{{ m }}</li>
        {% endfor %}
    </ul>
    <form action="{{ url('club:club_members', club_id=club.id) }}" method="post">
        {% csrf_token %}
        {{ form.as_p() }}
        <p><input type="submit" value="{% trans %}Add{% endtrans %}" /></p>
    </form>
{% endblock %}



