{% extends "core/base.jinja" %}
{% from "core/macros.jinja" import paginate_alpine %}

{% block title -%}
  {% trans %}Club list{% endtrans %}
{%- endblock %}

{% block description -%}
  {% trans %}The list of all clubs existing at UTBM.{% endtrans %}
{%- endblock %}

{% block additional_js %}
  <script type="module" src="{{ static("bundled/club/club-list-index.ts") }}"></script>
{% endblock %}

{% block additional_css %}
  <link rel="stylesheet" href="{{ static("club/list.scss") }}">
{% endblock %}

{% block content %}
  <main x-data="clubList">
    <h3>{% trans %}Filters{% endtrans %}</h3>
    <form id="club-list-filters">
      <div class="row gap-4x">
        <fieldset>
          <label for="club-name-input">{% trans %}Name{% endtrans %}</label>
          <input
            id="club-name-input"
            type="text"
            name="club-name"
            x-model.debounce.500ms="clubName"
          />
        </fieldset>
        <fieldset class="grow">
          <legend>{% trans %}Club state{% endtrans %}</legend>
          <div class="row">
            <input type="radio" id="filter-active-clubs" x-model="clubStatus" value="active">
            <label for="filter-active-clubs">{% trans %}Active{% endtrans %}</label>
          </div>
          <div class="row">
            <input type="radio" id="filter-inactive-clubs" x-model="clubStatus" value="inactive">
            <label for="filter-inactive-clubs">{% trans %}Inactive{% endtrans %}</label>
          </div>
          <div class="row">
            <input type="radio" id="filter-all-clubs" x-model="clubStatus" value="both">
            <label for="filter-all-clubs">{% trans %}All clubs{% endtrans %}</label>
          </div>
        </fieldset>
      </div>
    </form>
    <h3>{% trans %}Club list{% endtrans %}</h3>
    {% if user.has_perm("club.add_club") %}
      <br>
      <a href="{{ url('club:club_new') }}" class="btn btn-blue">
        <i class="fa fa-plus"></i> {% trans %}New club{% endtrans %}
      </a>
    {% endif %}
    <section class="aria-busy-grow" :aria-busy="loading" id="club-list">
      <template x-for="club of clubs" :key="club.id">
        <div class="card">
          <a :href="club.url">
            <template x-if="club.logo">
              <img class="club-image" :src="club.logo" :alt="`logo ${club.name}`">
            </template>
            <template x-if="!club.logo">
              <i class="fa-regular fa-image fa-4x club-image"></i>
            </template>
          </a>
          <div class="content">
            <a :href="club.url">
              <h4 x-text="`${club.name} ${club.is_active ? '' : '({% trans %}inactive{% endtrans %})'}`"></h4>
            </a>
            <template x-for="paragraph of getParagraphs(club.short_description)">
              <p x-text="paragraph"></p>
            </template>
          </div>
        </div>
      </template>
    </section>
    {{ paginate_alpine("currentPage", "nbPages") }}
  </main>
{% endblock %}



