{% extends "core/base.jinja" %}
{% from "reservation/macros.jinja" import room_detail %}

{% block additional_css %}
  <link rel="stylesheet" href="{{ static("core/components/card.scss") }}">
{% endblock %}

{% block content %}
  <h3>{% trans %}Club tools{% endtrans %} ({{ club.name }})</h3>
  <div>
    <h4>{% trans %}Communication:{% endtrans %}</h4>
    <ul>
      <li>
        <a href="{{ url('com:news_new') }}?club={{ object.id }}">
          {% trans %}Create a news{% endtrans %}
        </a>
      </li>
      <li>
        <a href="{{ url('com:weekmail_article') }}?club={{ object.id }}">
          {% trans %}Post in the Weekmail{% endtrans %}
        </a>
      </li>
      {% if object.trombi %}
        <li>
          <a href="{{ url('trombi:detail', trombi_id=object.trombi.id) }}">
            {% trans %}Edit Trombi{% endtrans %}</a>
        </li>
      {% else %}
        <li><a href="{{ url('trombi:create', club_id=object.id) }}">{% trans %}New Trombi{% endtrans %}</a></li>
        <li><a href="{{ url('club:poster_list', club_id=object.id) }}">{% trans %}Posters{% endtrans %}</a></li>
      {% endif %}
    </ul>
    <h4>{% trans %}Reservable rooms{% endtrans %}</h4>
    <a
      href="{{ url("reservation:room_create") }}?club={{ object.id }}"
      class="btn btn-blue"
    >
      {% trans %}Add a room{% endtrans %}
    </a>
    {%- if reservable_rooms|length > 0 -%}
      <ul class="card-group">
        {%- for room in reservable_rooms -%}
          {{ room_detail(
          room,
          can_edit=user.can_edit(room),
          can_delete=request.user.has_perm("reservation.delete_room")
          ) }}
        {%- endfor -%}
      </ul>
    {%- else -%}
      <p>
        {% trans %}This club manages no reservable room{% endtrans %}
      </p>
    {%- endif -%}
    <h4>{% trans %}Counters:{% endtrans %}</h4>
    <ul>
      {% for counter in counters %}
        <li>{{ counter }}:
          <a href="{{ url('counter:details', counter_id=counter.id) }}">View</a>
          <a href="{{ url('counter:admin', counter_id=counter.id) }}">Edit</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}



