{% extends "core/base.jinja" %}

{% block content %}
<div class="tool-bar">
    <div>{{ club.name }}</div>
    <div class="tools">
        <a href="{{ url('club:club_view', club_id=club.id) }}"
            {%- if tab == "infos" -%}
                class="selected_tab"
            {%- endif -%}
        >{% trans %}Infos{% endtrans %}</a>

        {% if can_view(club, user) %}
        <a href="{{ url('club:club_members', club_id=club.pk) }}"
            {%- if tab == "members" -%}
                class="selected_tab"
            {%- endif -%}
        >{% trans %}Members{% endtrans %}</a>
        {% endif %}

        {% if can_view(club, user) %}
        <a href="{{ url('club:tools', club_id=club.id) }}"
            {%- if tab == "tools" -%}
                class="selected_tab"
            {%- endif -%}
        >{% trans %}Tools{% endtrans %}</a>
        {% endif %}

        {% if can_edit(club, request.user) %}
        <a href="{{ url('club:club_edit', club_id=club.id) }}"
            {%- if tab == "edit" -%}
                class="selected_tab"
            {%- endif -%}
        >{% trans %}Edit{% endtrans %}</a>
        {% endif %}

        {% if can_edit_prop(club, request.user) %}
        <a href="{{ url('club:club_prop', club_id=club.id) }}"
            {%- if tab == "props" -%}
                class="selected_tab"
            {%- endif -%}
        >{% trans %}Props{% endtrans %}</a>
        {% endif %}

    </div>
    <hr>
</div>

<div>
    {% block club %}
    {% endblock %}
</div>

{% endblock %}



