{% extends "core/base.jinja" %}
{% from 'core/macros.jinja' import user_profile_link %}

{% block content %}
  <h2>{% trans %}Club old members{% endtrans %}</h2>
  <table>
    <thead>
      <tr>
        <td>{% trans %}User{% endtrans %}</td>
        <td>{% trans %}Role{% endtrans %}</td>
        <td>{% trans %}Description{% endtrans %}</td>
        <td>{% trans %}From{% endtrans %}</td>
        <td>{% trans %}To{% endtrans %}</td>
      </tr>
    </thead>
    <tbody>
      {% for member in old_members %}
        <tr>
          <td>{{ user_profile_link(member.user) }}</td>
          <td>{{ settings.SITH_CLUB_ROLES[member.role] }}</td>
          <td>{{ member.description }}</td>
          <td>{{ member.start_date }}</td>
          <td>{{ member.end_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}



