{% extends "core/base.jinja" %}

{% block content %}
    <h3>Club</h3>
    <p><a href="{{ url('club:club_list') }}">Back to list</a></p>
    {% if can_edit(club, user) %}
        <p><a href="{{ url('club:club_edit', club_id=club.pk) }}">Edit</a></p>
    {% endif %}
    {% if can_edit_prop(club, user) %}
        <p><a href="{{ url('club:club_prop', club_id=club.pk) }}">Prop</a>
        </p>
    {% endif %}
    {% if can_view(club, user) %}
        <p><a href="{{ url('club:club_members', club_id=club.pk) }}">Members</a></p>
    {% endif %}
    <h3>{{ club.name }}</h3>
    <p>{{ club.address }}</p>
    <ul>
        {% for m in club.members.all() %}
        <li>{{ m }}</li>
        {% endfor %}
    </ul>
{% endblock %}



