{% extends "core/base.jinja" %}

{% block title %}
{% trans %}Mailing lists{% endtrans %}
{% endblock %}

{% block content %}
    {% if mailings %}

    <b>{% trans %}Remember : mailing lists need to be moderated, if your new created list is not shown wait until moderation takes action{% endtrans %}</b>

    {% for mailing in mailings %}
    {% if mailing.is_moderated %}
    <h2>{% trans %}Mailing{% endtrans %} {{ mailing.email_full }} 
        {%- if user.is_owner(mailing) -%}
        <a href="{{ url('club:mailing_delete', mailing_id=mailing.id) }}"> - {% trans %}Delete{% endtrans %}</a>
        {%- endif -%}
    </h2>
    <form method="GET" action="{{ url('club:mailing_generate', mailing_id=mailing.id) }}" style="display:inline-block;">
        <input type="submit" name="generateMalingList" value="{% trans %}Generate mailing list{% endtrans %}">
    </form>
    <form method="GET" action="{{ url('club:mailing_clean', mailing_id=mailing.id) }}" style="display:inline-block;">
        <input type="submit" name="cleanMailingList" value="{% trans %}Clean mailing list{% endtrans %}">
    </form>
    <hr>
    <table>
        <tr>
            <th>{% trans %}User{% endtrans %}</th>
            <th colspan="2">{% trans %}Email{%endtrans%}</th>
        </tr>
        {% for subscriber in mailing.subscriptions.all() %}
        <tr>
            {% if subscriber.user %}
            <td>{{ subscriber.user }}</td>
            {% else %}
            <td>{% trans %}Unregistered user{% endtrans %}</td>
            {% endif %}
            <td>{{ subscriber.get_email }}</td>
            <td><a href="{{ url('club:mailing_subscription_delete', mailing_subscription_id=subscriber.id) }}">{% trans %}Delete{% endtrans %}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endfor %}

    {% else %}
    <p>{% trans %}No mailing list existing for this club{% endtrans %}</p>
    {% endif %}

    <p>{{ form.non_field_errors() }}</p>
    {% if mailings_moderated %}
        <h2>{% trans %}New member{% endtrans %}</h2>
        <form action="{{ url('club:mailing', club_id=club.id) }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                {{ form.subscription_mailing.errors }}
                <label for="{{ form.subscription_mailing.id_for_label }}">{{ form.subscription_mailing.label }}</label>
                {{ form.subscription_mailing }}
            </p>
            <p>
                {{ form.subscription_users.errors }}
                <label for="{{ form.subscription_users.id_for_label }}">{{ form.subscription_users.label }}</label>
                {{ form.subscription_users }}
                <span class="helptext">{{ form.subscription_users.help_text }}</span>
            </p>
            <p>
                {{ form.subscription_email.errors }}
                <label for="{{ form.subscription_email.id_for_label }}">{{ form.subscription_email.label }}</label>
                {{ form.subscription_email }}
            </p>
            <input hidden type="number" name="{{ form.action.name }}" value="{{ form_actions.NEW_SUBSCRIPTION }}" />
            <p><input type="submit" value="{% trans %}Add to mailing list{% endtrans %}" /></p>
        </form>
    {% endif %}

    <h2>{% trans %}New mailing{% endtrans %}</h2>
    <form action="{{ url('club:mailing', club_id=club.id) }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.mailing_club.errors }}
        {{ form.mailing_moderator.errors }}
        <p>
            {{ form.mailing_email.errors }}
            <label for="{{ form.mailing_email.id_for_label }}">{{ form.mailing_email.label }}</label>
            {{ form.mailing_email }}
        </p>
        {{ form.mailing_club }}
        {{ form.mailing_moderator }}
        <input hidden type="number" name="{{ form.action.name }}" value="{{ form_actions.NEW_MALING }}" />
        <p><input type="submit" value="{% trans %}Create mailing list{% endtrans %}" /></p>
    </form>

{% endblock %}
