{% extends "core/base.jinja" %}
{% from 'core/macros_pages.jinja' import page_edit_form %}

{% block content %}
  {{ page_edit_form(form, url('club:club_edit_page', club_id=page.club.id)) }}
{% endblock %}



