{% extends "core/base.jinja" %}
{% from 'core/macros_pages.jinja' import markdown_preview_script, page_edit_form %}

{% block head %}
{{ super() }}
{{ markdown_preview_script(csrf_token) }}
{% endblock %}

{% block content %}
{{ page_edit_form(page, form, url('club:club_edit_page', club_id=page.club.id), csrf_token) }}
{% endblock %}



