{% extends "core/base.jinja" %}

{% block title %}
	{% trans user_name=user.get_display_name() %}{{ user_name }}'s Matmat{% endtrans %}
{% endblock %}

{% block content %}
<h3>{% trans%}Matmatronch'{% endtrans %}</h3>
{% if subscribe_form %}
<form action="" method="post">
    {% csrf_token %}
    {{ subscribe_form.as_p() }}
    <p><input type="submit" value="{% trans %}Save{% endtrans %}" /></p>
</form>
{% else %}
<p>{% trans matmat = user.matmat_user.matmat %}You are subscribed to the Matmatronch {{ matmat }}{% endtrans %}</p>
{% for u in user.matmat_user.matmat.users.exclude(id=user.matmat_user.id) %}
    <div class="ib">
        <div>{{ u.user.get_display_name() }}</div>
        {% set comment = u.received_comments.filter(author__id=user.matmat_user.id).first() %}
        {% if comment %}
        <a href="{{ url("matmat:edit_comment", comment_id=comment.id) }}">Edit comment</a>
        {% else %}
        <a href="{{ url("matmat:new_comment", user_id=u.id) }}">Comment</a>
        {% endif %}
    </div>
{% endfor %}
{% endif %}
{% endblock %}

