{% extends "core/page/base.jinja" %}

{% from "core/page/macros.jinja" import page_history %}

{% block page %}
  <h3>{% trans %}Page history{% endtrans %}</h3>
  {{ page_history(page) }}
{% endblock %}




