<a
  title="Logiciel billetterie en ligne"
  href="https://widget.weezevent.com/ticket/6ef65533-f5b0-4571-9d21-1f1bc63921f0?id_evenement=1211855&locale=fr-FR&code=34146"
  class="weezevent-widget-integration"
  target="_blank"
  data-src="https://widget.weezevent.com/ticket/6ef65533-f5b0-4571-9d21-1f1bc63921f0?id_evenement=1211855&locale=fr-FR&code=34146"
  data-width="650"
  data-height="600"
  data-resize="1"
  data-nopb="0"
  data-type="neo"
  data-width_auto="1"
  data-noscroll="0"
  data-id="1211855">
  Billetterie Weezevent
</a>
<script type="text/javascript" src="https://widget.weezevent.com/weez.js" async defer></script>
