body {
  position: absolute;
  width: 100vw;
  height: 100vh;

  padding: 0;
  margin: 0;
}

#slideshow {
  position: relative;
  background-color: lightgrey;

  height: 100%;

  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &:hover {

    &::before {

      position: absolute;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      z-index: 10;

      content: attr(hover);

      color: white;
      background-color: rgba(black, 0.5);

    }

  }

  &:fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: none;

    &:before {
      display: none;
    }

    #slides {
      height: 100vh;
    }

  }

  #slides {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: grey;

    .slide {
      position: absolute;
      width: 100%;
      height: 100%;

      display: none;
      justify-content: center;

      top: 0px;
      left: 0%;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }

      &.current {
        display: inline-flex;
        left: 0%;
        animation: scrolling-in 1s linear;
      }

      &.previous {
        display: inline-flex;
        animation: scrolling-out 1s linear;
        opacity: 0;
        transition: opacity 0.1s;
        transition-delay: 0.9s;
      }

      @keyframes scrolling-in {
        0% {
          transform: translateX(100%);
        }

        100% {
          transform: translateX(0%);
        }
      }

      @keyframes scrolling-out {
        0% {
          transform: translateX(0%);
        }

        100% {
          transform: translateX(-100%);
        }
      }

    }
  }


  #progress_bullets {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 10px;

    display: flex;
    justify-content: center;

    margin-bottom: 10px;

    .bullet {
      height: 10px;
      width: 10px;

      margin-left: 5px;
      margin-right: 5px;

      border-radius: 50%;

      background-color: grey;

      &.active {
        background-color: #c99836;
      }
    }
  }

  progress {
    --color: #304c83;

    position: absolute;
    bottom: 0px;
    height: 10px;
    color: var(--color);
    width: 100%;
    margin-bottom: 0px;
    border: none;

    &::-moz-progress-bar {
      background: var(--color);
    }

    &::-webkit-progress-value {
      background: var(--color);
    }

    &[value] {
      background-color: transparent;
    }
  }
}