{% extends "core/base.jinja" %}

{% block title %}
{% trans %}Launderette admin{% endtrans %}
{% endblock %}

{% block content %}
<h3>{% trans %}Selling{% endtrans %}</h3>
<p><a href="{{ url('launderette:main_click', launderette_id=launderette.id) }}">{% trans %}Sell{% endtrans %}</a></p>
<h3>{% trans %}Tokens{% endtrans %}</h3>
<ul>
    {% for t in launderette.tokens.all() %}
    <li>{{ t }}</li>
    {% endfor %}
</ul>
<hr>
<h3>{% trans %}Machines{% endtrans %}</h3>
<p><a href="{{ url('launderette:machine_new') }}?launderette={{ launderette.id }}">{% trans %}New machine{% endtrans %}</a></p>
<ul>
    {% for m in launderette.machines.all() %}
    <li><a href="{{ url('launderette:machine_edit', machine_id=m.id) }}">{{ m }}</a> -
        <a href="{{ url('launderette:machine_delete', machine_id=m.id) }}">{% trans %}Delete{% endtrans %}</a></li>
    {% endfor %}
</ul>
{% endblock %}




